<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <connectionStrings>
    <add name="TurbineModelContainer" connectionString="" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="AWSContext" type="AWSConsumerConsole.AWSContext, AWSConsumerConsole" />
    <alias alias="IAWSContext" type="Turbine.Orchestrator.AWS.IAWSContext, Turbine.Orchestrator.AWS" />
    <alias alias="ScaleContract" type="Turbine.Orchestrator.AWS.EC2ScaleContract, Turbine.Orchestrator.AWS" />
    <alias alias="IScaleContract" type="Turbine.Data.Contract.Behaviors.IScaleContract, Turbine.Data.Contract.Behaviors" />

    <container name="orchestrator">
      <register type="IAWSContext" mapTo="AWSContext" >
        <property name="AMI" value="REPLACE"/>
        <property name="SecurityGroup" value="REPLACE"/>
        <property name="InstanceType" value="REPLACE"/>
        <property name="Region" value="REPLACE"/>
        <property name="ShutdownQueue" 
                  value="REPLACE"/>
        <property name="ShutdownNotificationQueue" 
                  value="REPLACE"/>
        <property name="Bucket"
                  value="REPLACE"/>
        <property name="AWSAccessKey" 
                  value="REPLACE"/>
        <property name="AWSSecretKey" 
                  value="REPLACE"/>
       </register>
      <register type="IScaleContract" mapTo="ScaleContract" />
      
    </container>
    
  </unity>

  <system.diagnostics>
    <!--
    <sources>
      <source name="console">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
      <listeners>
        <add name="TraceLogListener"
             type="System.Diagnostics.ConsoleTraceListener"
             traceOutputOptions="ProcessId, DateTime"
             />
        <remove name="Default" />
      </listeners>
    </trace>
    -->
    <trace autoflush="true">
        <listeners>
          <add name="TraceLogListener"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="c:\turbine\log\EC2AutoScalingWindowsService_MS12.log"/>

          <remove name="Default" />
        </listeners>
    </trace>  
  </system.diagnostics>
</configuration>
