<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  
  <connectionStrings>
    <add name="TurbineModelContainer"
         connectionString=""
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="configConsoleListener"
             type="System.Diagnostics.ConsoleTraceListener" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>


  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="HTTPContext" type="StandAloneWebApplication.WindowsAuthentiationProducerContext, StandAloneWebApplication" />
    <alias alias="IProducerContext" type="Turbine.Producer.Contracts.IProducerContext, Turbine.Producer" />

    <alias alias ="IConsumerResourceAccessor"
           type="Turbine.Producer.Contracts.IConsumerResourceAccessor, Turbine.Producer"/>
    <alias alias="DummyConsumerResourceAccessor"
           type="StandAloneWebApplication.ConsumerResourceAccessor, StandAloneWebApplication"/>

    <container name="producerX">

      <register type="IProducerContext" mapTo="HTTPContext" />
      <register type="IConsumerResourceAccessor" mapTo="DummyConsumerResourceAccessor" />

    </container>
  </unity>

</configuration>