<configuration>
  <connectionStrings>
    <!-- NOTE: MUST KEEP Dummy connectionString or Generate Database from Model 
    will throw Microsoft.VSDesigner.Data.Local.ConnectionStringConverterServiceException
    -->
    <add name="TurbineModelContainer"
         connectionString="metadata=res://*/TurbineDataModel.csdl|res://*/TurbineDataModel.ssdl|res://*/TurbineDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>