<configuration>
  
  <connectionStrings>
    <add name="TurbineModelContainer" connectionString="metadata=res://*/TurbineDataModel.csdl|res://*/TurbineDataModel.ssdl|res://*/TurbineDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dudley.lbl.gov;Initial Catalog=turbineMS10;Persist Security Info=True;User ID=uturbine;Password=X3n0F0b3;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  
  <appSettings>
    <add key="AWSAccessKey" value=""/>
    <add key="AWSSecretKey" value=""/>
    <add key="Region" value="https://ec2.us-west-1.amazonaws.com"/>
    <add key="Queue" value="https://us-west-1.queue.amazonaws.com/754323349409/AspenConsumerTerminateQueueMS10"/>
    <add key="NotificationQueue" value="https://us-west-1.queue.amazonaws.com/754323349409/ConsumerShutdownNotificationMS10"/>
  </appSettings>
  
  
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="SinterConsumerLogListener"
             type="System.Diagnostics.ConsoleTraceListener"/>
        <add name="SQSLogListener"
             type="Turbine.Consumer.AWS.SQSTraceListener, Turbine.Consumer.AWS"
             initializeData="https://us-west-1.queue.amazonaws.com/754323349409/AspenConsumerLogMS10"/>

        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  
</configuration>