<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ExcelSinterConsumerConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.11.0" newVersion="5.11.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <connectionStrings>
    <add name="TurbineCompactDatabase" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="XConsoleContext" type="ExcelSinterConsumerConsole.ConsoleContext, ExcelSinterConsumerConsole" />
    <alias alias="IContext" type="Turbine.Consumer.Contract.Behaviors.IContext, Turbine.Consumer.Contract.Behaviors" />
    <alias alias="ConsumerContext" type="Turbine.Consumer.Console.ConsumerContext, Turbine.Consumer.Console" />
    <alias alias="IConsumerContext" type="Turbine.Consumer.Contract.Behaviors.IConsumerContext, Turbine.Consumer.Contract.Behaviors" />

    <alias alias="IConsumerRegistrationContract" type="Turbine.Consumer.Data.Contract.Behaviors.IConsumerRegistrationContract, Turbine.Consumer.Data.Contract.Behaviors" />
    <alias alias="IJobConsumerContract" type="Turbine.Consumer.Data.Contract.Behaviors.IJobConsumerContract, Turbine.Consumer.Data.Contract.Behaviors" />
    <alias alias="IJobQueue" type="Turbine.Consumer.Data.Contract.Behaviors.IJobQueue, Turbine.Consumer.Data.Contract.Behaviors" />

    <alias alias="JobConsumerContract" type="Turbine.Consumer.Data.Contract.AspenJobConsumerContract, Turbine.Consumer.Data.Contract" />
    <alias alias="JobQueue" type="Turbine.Consumer.Data.Contract.DBJobQueue, Turbine.Consumer.Data.Contract" />
    <alias alias="ConsumerRegistrationContract" type="Turbine.Consumer.Data.Contract.ConsumerRegistrationContract, Turbine.Consumer.Data.Contract" />

    <alias alias="IConsumerRun" type="Turbine.Consumer.Contract.Behaviors.IConsumerRun, Turbine.Consumer.Contract.Behaviors" />
    <alias alias="ConsumerRun" type="Turbine.Consumer.Excel.ExcelSinterConsumer, Turbine.Consumer.Excel" />
    
    <container name="consumer">
      <register type="IContext" mapTo="XConsoleContext" />
      <register type="IConsumerContext" mapTo="ConsumerContext" />
      <register type="IConsumerRegistrationContract" mapTo="ConsumerRegistrationContract" />
      <register type="IJobConsumerContract" mapTo="JobConsumerContract" />
      <register type="IJobQueue" mapTo="JobQueue" />
      <register type="IConsumerRun" mapTo="ConsumerRun" />
    </container>
 
  </unity>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="CSConsumerLogListener" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="ProcessId, DateTime" />

        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <userSettings>
    <ExcelSinterConsumerConsole.Properties.Settings>
      <setting name="BaseDirectory" serializeAs="String">
        <value>REPLACE</value>
      </setting>
    </ExcelSinterConsumerConsole.Properties.Settings>
  </userSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
