<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">

  <Product Id="7c3d4cb3-3644-4b0f-b68f-8d09a7d3c50a" 
           Name="AspenConsumer" Language="1033" 
           Version="0.1.0.1" 
           Manufacturer="AspenConsumer"
           UpgradeCode="bb3fd2f7-ef57-4c3f-b1b4-1b88560edb48">
    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!--
    <util:User Id="USER.Sql" Name="[SQLUSER]" Password="[SQLPASSWORD]"/>

    <iis:WebSite Id="WS.Default" Description="Default Web Site">
      <iis:WebAddress Id="AllUnassigned" Port="80"/>
    </iis:WebSite>
    -->


    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="Turbine" Name="Turbine">
          <Directory Id="INSTALLLOCATION" Name="StandAlone">
            <Directory Id="DIR.Logs" Name="Logs"/>
            <Directory Id="DIR.Data" Name="Data"/>
            <Directory Id="DIR.Bin" Name="Bin"/>
            <Directory Id="DIR.Web.Site" Name="WebSite">
              <Directory Id="DIR.Web" Name="WebApplication">
                <Directory Id="DIR.Web.Bin" Name="bin"/>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!--
    <iis:Certificate Id="Cert.Turbine" Name="demo.pfx" Request="no"
                     StoreLocation="localMachine"
                     StoreName="personal" Overwrite="yes"
                     BinaryKey="MyCertificateIDRoot" PFXPassword="certTest"/>
    -->

    <DirectoryRef Id="DIR.Web">
      <Component Id="CMP.Web" Guid="6E58EFD2-6EF8-4B78-999D-C677D53DD66C" KeyPath="yes">
        <!--
        <iis:CertificateRef Id="Cert.Turbine"/>
        -->
        <!--
        <iis:WebAppPool Id="WAP.Id" Name="TurbineAppPool" ManagedPipelineMode="integrated" ManagedRuntimeVersion="v4.0">

        </iis:WebAppPool>

        
        <iis:WebSite Id="WS.Secure" Description="Turbine Secure Web Site"
                     AutoStart="yes" StartOnInstall="yes" ConfigureIfExists="no"
                     Directory="DIR.Web.Site">
          <iis:WebAddress Id="AllUnassigned" Port="8080" Secure="yes"/>
          <iis:WebVirtualDir Id="WebVirutalDir.Turbine" Alias="Turbine" Directory="DIR.Web">
            <iis:WebApplication Id="Turbine.Web.App" Name="Turbine Web Application"/>
          </iis:WebVirtualDir>
          <iis:WebDirProperties Id="Turbine.Web.Dir.Properties.1" AnonymousAccess="no" BasicAuthentication="no"
                                DigestAuthentication="no" WindowsAuthentication="yes"/>
        </iis:WebSite>
        -->
      </Component>

      <Component Id="CMP.Web.Config"  Guid="9606E288-FFDA-441B-9048-A73398A23049">
        <File Id="StandAloneWebConfigId"
              Name="Web.config"
              Source="bin\Debug\application\Web\Web.config"
              KeyPath="yes" Vital="yes"/>
        <util:XmlFile Id="WebConfigSetLogFile" Action="setValue" Permanent="yes" File="[#StandAloneWebConfigId]"
             ElementPath="/configuration/system.diagnostics/trace/listeners/add[\[]@name='turbineLogListener'[\]]"
             Name="initializeData"
             Value="[DIR.Logs]TurbineStandAloneWebAppMS10.log" />
        <util:XmlFile Id="WebConfigSetConnStr" Action="setValue" Permanent="yes" File="[#StandAloneWebConfigId]"
             ElementPath="/configuration/connectionStrings/add[\[]@name='TurbineModelContainer'[\]]" Name="connectionString"
             Value="metadata=res://*/TurbineDataModel.csdl|res://*/TurbineDataModel.ssdl|res://*/TurbineDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=[PROP.SQLServer];Initial Catalog=[PROP.Database];Persist Security Info=True;MultipleActiveResultSets=True;Trusted_Connection=Yes&quot;" />
        <util:XmlFile Id="WebConfigAuth" Action="createElement" Permanent="yes" File="[#StandAloneWebConfigId]" Name="authentication"
             ElementPath="/configuration/system.web"/>
        <util:XmlFile Id="WebConfigAuthMode" Action="setValue" Permanent="yes" File="[#StandAloneWebConfigId]"
             ElementPath="/configuration/system.web/authentication" Name="mode"
             Value="None"/>
        <!--
        <util:XmlFile Id="WebConfigIdentity" Action="createElement" Permanent="yes" File="[#StandAloneWebConfigId]" Name="identity"
             ElementPath="/configuration/system.web"/>
        <util:XmlFile Id="WebConfigIdentityValue" Action="setValue" Permanent="yes" File="[#StandAloneWebConfigId]"
             ElementPath="/configuration/system.web/identity" Name="impersonate"
             Value="true" />
        -->
      </Component>
      <!--Add Site NEEDS TO HAPPEN ON SERVER -->
      <!--
      <Component Id="CMP.ApplicationHost.Config" Guid="895F9744-771D-4A2C-BCF6-979720CB5D2A">

        <File Id="ApplicationHostConfigId"
          Name="applicationhost.config"
          Source="My Documents\IIS Express\config\applicationhost.config"
          KeyPath="yes" Vital="yes"/>
        
        <util:XmlFile Id="ApplicationHostAnonymousAuthenticationId" Action="setValue" Permanent="yes" File="[#WebApplicationConfigId]"
          ElementPath="/configuration/system.webserver/security/authentication/anonymousAuthentication" 
          Name="enabled"
          Value="false"/>
        <util:XmlFile Id="ApplicationHostWindowsAuthenticationId" Action="setValue" Permanent="yes" File="[#WebApplicationConfigId]"
          ElementPath="/configuration/system.webserver/security/authentication/windowsAuthentication"
          Name="enabled"
          Value="true"/>
        

        <util:XmlFile Id="ApplicationHostSiteElementId" Action="createElement" Permanent="yes" File="[#WebApplicationConfigId]"
          ElementPath="/configuration/sites/site" Sequence="1"/>
        <util:XmlFile Id="ApplicationHostSiteElementNameId" Action="setValue" Permanent="yes" File="[#WebApplicationConfigId]"
          ElementPath="/configuration/sites/site" Sequence="1"
          Name="name"
          Value="Turbine"/>
        <util:XmlFile Id="ApplicationHostSiteElementNameId" Action="setValue" Permanent="yes" File="[#WebApplicationConfigId]"
          ElementPath="/configuration/sites/site" Sequence="1"
          Name="id"
          Value="100000000"/>

      </Component>
              -->
      <Component Id="CMP.Web.Global" Guid="DAC990A6-FF63-4E7C-ADE5-55574F9ECC41">
        <File Id="WebGLobalFile" Source="bin\Debug\application\Web\Global.asax" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DIR.Web.Bin">
      <!-- 
      COMMON DLLs 
      -->
      <Component Id="CMP.Web.ServiceLocationComponent" Guid="">
        <File Id="FILE.ServiceLocationId" Source="bin\Debug\application\Debug\Microsoft.Practices.ServiceLocation.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Web.UnityConfigDLLComponent" Guid="">
        <File Id="FILE.UnityConfigDLLId" Source="bin\Debug\application\Debug\Microsoft.Practices.Unity.Configuration.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Web.UnityConfigPbdComponent" Guid="">
        <File Id="FILE.UnityConfigPbdId" Source="bin\Debug\application\Debug\Microsoft.Practices.Unity.Configuration.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Web.UnityConfigXMLComponent" Guid="">
        <File Id="FILE.UnityConfigXMLId" Source="bin\Debug\application\Debug\Microsoft.Practices.Unity.Configuration.xml" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Web.UnityDLLComponent" Guid="">
        <File Id="FILE.UnityDLLId" Source="bin\Debug\application\Debug\Microsoft.Practices.Unity.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Web.UnityPdbComponent" Guid="">
        <File Id="FILE.UnityPdbId" Source="bin\Debug\application\Debug\Microsoft.Practices.Unity.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Web.UnityXmlComponent" Guid="">
        <File Id="FILE.UnityXmlId" Source="bin\Debug\application\Debug\Microsoft.Practices.Unity.xml" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Web.JsonDllComponent" Guid="">
        <File Id="FILE.JsonDllId" Source="bin\Debug\application\Debug\Newtonsoft.Json.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Web.JsonPdbComponent" Guid="">
        <File Id="FILE.JsonPdbId" Source="bin\Debug\application\Debug\Newtonsoft.Json.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Web.JsonXmlComponent" Guid="">
        <File Id="FILE.JsonXmlId" Source="bin\Debug\application\Debug\Newtonsoft.Json.xml" KeyPath="yes"/>
      </Component>

      <!-- 
      Common Turbine Components 
      -->
      <Component Id="CMP.Turbine.Data.Contract.Behaviors" Guid="">
        <File Id="FILE.TurbineDataContractBehaviorsDllId" Source="bin\Debug\application\Debug\Turbine.Data.Contract.Behaviors.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Turbine.Data.Contract.Behaviors.Debug" Guid="">
        <File Id="FILE.TurbineDataContractBehaviorsPdbId" Source="bin\Debug\application\Debug\Turbine.Data.Contract.Behaviors.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Turbine.Data.Contract" Guid="">
        <File Id="FILE.TurbineDataContractDllId" Source="bin\Debug\application\Debug\Turbine.Data.Contract.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Turbine.Data.Contract.Debug" Guid="">
        <File Id="FILE.TurbineDataContractPdbId" Source="bin\Debug\application\Debug\Turbine.Data.Contract.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Turbine.Data" Guid="">
        <File Id="FILE.TurbineDataDllId" Source="bin\Debug\application\Debug\Turbine.Data.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Turbine.Data.Debug" Guid="">
        <File Id="FILE.TurbineDataPbdId" Source="bin\Debug\application\Debug\Turbine.Data.pdb" KeyPath="yes"/>
      </Component>

      <!--
      Turbine Web Producer Components
      -->
      <Component Id="CMP.Turbine.Producer.Data.Contract.Behaviors" Guid="">
        <File Id="FILE.Turbine.Producer.Data.Contract.Behaviors.Dll"
              Source="bin\Debug\application\Web\bin\Turbine.Producer.Data.Contract.Behaviors.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Turbine.Producer.Data.Contract.Behaviors.Debug" Guid="">
        <File Id="FILE.Turbine.Producer.Data.Contract.Behaviors.Pbd"
              Source="bin\Debug\application\Web\bin\Turbine.Producer.Data.Contract.Behaviors.pdb" KeyPath="yes"/>
      </Component>

      <Component Id="CMP.Turbine.Producer.Data.Contract" Guid="">
        <File Id="FILE.Turbine.Producer.Data.Contract.Dll"
              Source="bin\Debug\application\Web\bin\Turbine.Producer.Data.Contract.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Turbine.Producer.Data.Contract.Debug" Guid="">
        <File Id="FILE.Turbine.Producer.Data.Contract.Pbd"
              Source="bin\Debug\application\Web\bin\Turbine.Producer.Data.Contract.pdb" KeyPath="yes"/>
      </Component>

      <Component Id="CMP.Turbine.Data.Serialize" Guid="">
        <File Id="FILE.Turbine.Data.Serialize.Dll"
              Source="bin\Debug\application\Web\bin\Turbine.Data.Serialize.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Turbine.Data.Serialize.Debug" Guid="">
        <File Id="FILE.Turbine.Data.Serialize.Pbd"
              Source="bin\Debug\application\Web\bin\Turbine.Data.Serialize.pdb" KeyPath="yes"/>
      </Component>

      <Component Id="CMP.Turbine.Producer" Guid="">
        <File Id="FILE.Turbine.Producer.Dll"
              Source="bin\Debug\application\Web\bin\Turbine.Producer.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Turbine.Producer.Debug" Guid="">
        <File Id="FILE.Turbine.Producer.Pbd"
              Source="bin\Debug\application\Web\bin\Turbine.Producer.pdb" KeyPath="yes"/>
      </Component>

      <Component Id="CMP.Turbine.Web" Guid="">
        <File Id="FILE.Turbine.Web.Dll"
              Source="bin\Debug\application\Web\bin\Turbine.Web.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Turbine.Web.Debug" Guid="">
        <File Id="FILE.Turbine.Web.Pbd"
              Source="bin\Debug\application\Web\bin\Turbine.Web.pdb" KeyPath="yes"/>
      </Component>

      <Component Id="CMP.StandAloneWebApplication" Guid="">
        <File Id="FILE.StandAloneWebApplication.DLL"
              Source="bin\Debug\application\Web\bin\StandAloneWebApplication.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.StandAloneWebApplication.Debug" Guid="">
        <File Id="FILE.StandAloneWebApplication.Debug"
              Source="bin\Debug\application\Web\bin\StandAloneWebApplication.pdb" KeyPath="yes"/>
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="DIR.Logs">
      <Component Id="CMP.Logs" Guid="97BD376B-237B-4F8C-8C0C-67811EA615F2" KeyPath="yes">
        <CreateFolder>
          <!-- NOTE: Change this to TurbineAppPool User -->
          <Permission User="Everyone" GenericWrite="yes" GenericAll="yes" />
        </CreateFolder>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DIR.Data">
      <Component Id="CMP.Data" Guid="CB133F49-B812-4008-8228-A27DBF14DEF8" KeyPath="yes">
        <CreateFolder>
          <!-- NOTE: Change this to User who will execute consumer -->
          <Permission User="Everyone" GenericWrite="yes" GenericAll="yes" />
        </CreateFolder>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DIR.Bin">
      <!--
      <Component Id="CMP.Bin" Guid="BB672CA5-EB25-44BB-8F2E-9B4B06B9D130" KeyPath="yes">
        <CreateFolder/>
      </Component>
      -->
      <Component Id="CMP.Database.Create" Guid="4E4A30F6-454D-491F-B6E7-0D8948F38A04">
        <sql:SqlDatabase Id="SqlDatabase" Database="[PROP.Database]"
                         Server="[PROP.SQLServer]"
                         CreateOnInstall="yes"
                         DropOnInstall="no"
                         ContinueOnError="no">
          <sql:SqlScript Id="SCRIPT.CreateDatabase"
                         BinaryKey="BIN.CreateTables"
                         ExecuteOnInstall="yes"/>
          <sql:SqlScript Id="SCRIPT.InitializeDatabase"
               BinaryKey="BIN.InitializeTables" 
               ExecuteOnInstall="yes"/>
        </sql:SqlDatabase>
        <!-- NOTE: Validation Fails Unless CreateFolder -->
        <CreateFolder/>
      </Component>
      
      <!-- CLIENT PROGRAMS
      -->
      <Component Id="CMP.Turbine.Client.TurbineSimulationList" Guid="89129C5B-0A63-475A-B25F-DB294C22F829">
        <File Id="TurbineSimulationListId" Source="bin\Debug\application\Debug\TurbineSimulationList.exe" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Turbine.Client.TurbineSimulationList.Config"  Guid="54F50475-4479-47A2-BACA-7E3B8DA4F95F">
        <File Id="TurbineSimulationListConfigId"
              Name="TurbineSimulationList.exe.config"
              Source="bin\Debug\application\Debug\TurbineSimulationList.exe.config"
              KeyPath="yes" Vital="yes"/>
        <util:XmlFile Id="TurbineSimulationListConfigIdAppConfigSetConnStr" 
             Action="setValue" Permanent="yes" File="[#TurbineSimulationListConfigId]"
             ElementPath="/configuration/connectionStrings/add[\[]@name='TurbineModelContainer'[\]]" 
             Name="connectionString"
             Value="metadata=res://*/TurbineDataModel.csdl|res://*/TurbineDataModel.ssdl|res://*/TurbineDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=[PROP.SQLServer];Initial Catalog=[PROP.Database];Persist Security Info=True;MultipleActiveResultSets=True;Trusted_Connection=Yes&quot;" />
      </Component>
      
      <!-- CONSUMERS 
      -->
      <Component Id="AspenSinterConsumerConsoleComponent" Guid="7044F1FF-258E-4156-B434-6262D4390D32">
        <File Id="AspenSinterConsumerConsoleId" Source="bin\Debug\application\Debug\AspenSinterConsumerConsole.exe" KeyPath="yes"/>
      </Component>
      <Component Id="DummyConsumerConsoleComponent" Guid="84130890-8400-4E15-9D8D-92629D0D60AD">
        <File Id="DummyConsumerConsoleId" Source="bin\Debug\application\Debug\DummyConsumerConsole.exe" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.Config"  Guid="01F58807-2E5D-4BEC-AF58-5B808D9A7D66">
        <File Id="AspenSinterConsumerConsoleConfigId"
              Name="AspenSinterConsumerConsole.exe.config"
              Source="bin\Debug\application\Debug\AspenSinterConsumerConsole.exe.config"
              KeyPath="yes" Vital="yes"/>
        <util:XmlFile Id="AppConfigSetBaseDir" Action="setValue" Permanent="yes" File="[#AspenSinterConsumerConsoleConfigId]"
             ElementPath="/configuration/userSettings/Turbine.Console.Properties.Settings/setting[\[]@name='BaseDirectory'[\]]/value"
             Value="[DIR.Data]" />
        <util:XmlFile Id="AppConfigSetConnStr" Action="setValue" Permanent="yes" File="[#AspenSinterConsumerConsoleConfigId]"
             ElementPath="/configuration/connectionStrings/add[\[]@name='TurbineModelContainer'[\]]" Name="connectionString"
             Value="metadata=res://*/TurbineDataModel.csdl|res://*/TurbineDataModel.ssdl|res://*/TurbineDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=[PROP.SQLServer];Initial Catalog=[PROP.Database];Persist Security Info=True;MultipleActiveResultSets=True;Trusted_Connection=Yes&quot;" />
      </Component>
      <Component Id="CMP.Dummy.Config"  Guid="33318310-C88A-4B02-89A5-7B4E737D7E61">
        <File Id="DummyConsumerConsoleConfigId"
              Name="DummyConsumerConsole.exe.config"
              Source="bin\Debug\application\Debug\DummyConsumerConsole.exe.config"
              KeyPath="yes" Vital="yes"/>
        <util:XmlFile Id="DummyAppConfigSetBaseDir" Action="setValue" Permanent="yes" File="[#DummyConsumerConsoleConfigId]"
             ElementPath="/configuration/userSettings/DummyConsumerConsole.Properties.Settings/setting[\[]@name='BaseDirectory'[\]]/value"
             Value="[DIR.Data]" />
        <util:XmlFile Id="DummyAppConfigSetConnStr" Action="setValue" Permanent="yes" File="[#DummyConsumerConsoleConfigId]"
             ElementPath="/configuration/connectionStrings/add[\[]@name='TurbineModelContainer'[\]]" Name="connectionString"
             Value="metadata=res://*/TurbineDataModel.csdl|res://*/TurbineDataModel.ssdl|res://*/TurbineDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=[PROP.SQLServer];Initial Catalog=[PROP.Database];Persist Security Info=True;MultipleActiveResultSets=True;Trusted_Connection=Yes&quot;" />

      </Component>
      <Component Id="AspenSinterConsumerConsolePDBComponent" Guid="48FB9D46-22DB-49BC-9231-7591FFAE3311">
        <File Id="AspenSinterConsumerConsolePDBId" Source="bin\Debug\application\Debug\AspenSinterConsumerConsole.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="DummyConsumerConsolePDBComponent" Guid="44EF82D7-04EC-42E5-9C74-D5C10F6370F5">
        <File Id="DummyConsumerConsolePDBId" Source="bin\Debug\application\Debug\DummyConsumerConsole.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.AspenSinterDLL" Guid="">
        <File Id="AspenSinterDllId" Source="bin\Debug\application\Debug\AspenSinter.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.AspenSinterPDB" Guid="">
        <File Id="AspenSinterPdbId" Source="bin\Debug\application\Debug\AspenSinter.pdb" KeyPath="yes"/>
      </Component>
      
      <Component Id="CMP.SinterHelperFunctionsDLL" Guid="">
        <File Id="SinterHelperFunctionsDllId" Source="bin\Debug\application\Debug\Turbine.Sinter.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP.SinterHelperFunctionsPDB" Guid="">
        <File Id="SinterHelperFunctionsPdbId" Source="bin\Debug\application\Debug\Turbine.Sinter.pdb" KeyPath="yes"/>
      </Component>
      
      <!--
      <Component Id="AspenSinterConsumerConsoleVSHostComponent" Guid="">
        <File Id="AspenSinterConsumerConsoleVSHostId" Source="application\Debug\AspenSinterConsumerConsole.vshost.exe" KeyPath="yes"/>
      </Component>
      <Component Id="AspenSinterConsumerConsoleVSHostConfigComponent" Guid="">
        <File Id="AspenSinterConsumerConsoleVSHostConfigId" Source="application\Debug\AspenSinterConsumerConsole.vshost.exe.config" KeyPath="yes"/>
      </Component>
      <Component Id="AspenSinterConsumerConsoleVSHostManifestComponent" Guid="">
        <File Id="AspenSinterConsumerConsoleVSHostManifestId" Source="application\Debug\AspenSinterConsumerConsole.vshost.exe.manifest" KeyPath="yes"/>
      </Component>
      -->
      <Component Id="ServiceLocationComponent" Guid="">
        <File Id="ServiceLocationId" Source="bin\Debug\application\Debug\Microsoft.Practices.ServiceLocation.dll" KeyPath="yes"/>
      </Component>
      <Component Id="UnityConfigDLLComponent" Guid="">
        <File Id="UnityConfigDLLId" Source="bin\Debug\application\Debug\Microsoft.Practices.Unity.Configuration.dll" KeyPath="yes"/>
      </Component>
      <Component Id="UnityConfigPbdComponent" Guid="">
        <File Id="UnityConfigPbdId" Source="bin\Debug\application\Debug\Microsoft.Practices.Unity.Configuration.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="UnityConfigXMLComponent" Guid="">
        <File Id="UnityConfigXMLId" Source="bin\Debug\application\Debug\Microsoft.Practices.Unity.Configuration.xml" KeyPath="yes"/>
      </Component>
      <Component Id="UnityDLLComponent" Guid="">
        <File Id="UnityDLLId" Source="bin\Debug\application\Debug\Microsoft.Practices.Unity.dll" KeyPath="yes"/>
      </Component>
      <Component Id="UnityPdbComponent" Guid="">
        <File Id="UnityPdbId" Source="bin\Debug\application\Debug\Microsoft.Practices.Unity.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="UnityXmlComponent" Guid="">
        <File Id="UnityXmlId" Source="bin\Debug\application\Debug\Microsoft.Practices.Unity.xml" KeyPath="yes"/>
      </Component>
      <Component Id="JsonDllComponent" Guid="">
        <File Id="JsonDllId" Source="bin\Debug\application\Debug\Newtonsoft.Json.dll" KeyPath="yes"/>
      </Component>
      <Component Id="JsonPdbComponent" Guid="">
        <File Id="JsonPdbId" Source="bin\Debug\application\Debug\Newtonsoft.Json.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="JsonXmlComponent" Guid="">
        <File Id="JsonXmlId" Source="bin\Debug\application\Debug\Newtonsoft.Json.xml" KeyPath="yes"/>
      </Component>
      <Component Id="TurbineCommonDllComponent" Guid="">
        <File Id="TurbineCommonDllId" Source="bin\Debug\application\Debug\Turbine.Common.dll" KeyPath="yes"/>
      </Component>
      <Component Id="TurbineCommonPdbComponent" Guid="">
        <File Id="TurbineCommonPdbId" Source="bin\Debug\application\Debug\Turbine.Common.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="TurbineConsumerDllComponent" Guid="">
        <File Id="TurbineConsumerDllId" Source="bin\Debug\application\Debug\Turbine.Consumer.dll" KeyPath="yes"/>
      </Component>
      <Component Id="TurbineConsumerPdbComponent" Guid="">
        <File Id="TurbineConsumerPbdId" Source="bin\Debug\application\Debug\Turbine.Consumer.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="TurbineConsumerDataContractBehaviorsDllComponent" Guid="">
        <File Id="TurbineConsumerDataContractBehaviorsDllId" Source="bin\Debug\application\Debug\Turbine.Consumer.Data.Contract.Behaviors.dll" KeyPath="yes"/>
      </Component>
      <Component Id="TurbineConsumerDataContractBehaviorsPdbComponent" Guid="">
        <File Id="TurbineConsumerDataContractBehaviorsPdbId" Source="bin\Debug\application\Debug\Turbine.Consumer.Data.Contract.Behaviors.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="TurbineConsumerDataContractComponent" Guid="">
        <File Id="TurbineConsumerDataContractId" Source="bin\Debug\application\Debug\Turbine.Consumer.Data.Contract.dll" KeyPath="yes"/>
      </Component>
      <Component Id="TurbineConsumerDataContractPdbComponent" Guid="">
        <File Id="TurbineConsumerDataContractPdbId" Source="bin\Debug\application\Debug\Turbine.Consumer.Data.Contract.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="TurbineDataContractBehaviorsDllComponent" Guid="">
        <File Id="TurbineDataContractBehaviorsDllId" Source="bin\Debug\application\Debug\Turbine.Data.Contract.Behaviors.dll" KeyPath="yes"/>
      </Component>
      <Component Id="TurbineDataContractBehaviorsPdbComponent" Guid="">
        <File Id="TurbineDataContractBehaviorsPdbId" Source="bin\Debug\application\Debug\Turbine.Data.Contract.Behaviors.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="TurbineDataContractDllComponent" Guid="">
        <File Id="TurbineDataContractDllId" Source="bin\Debug\application\Debug\Turbine.Data.Contract.dll" KeyPath="yes"/>
      </Component>
      <Component Id="TurbineDataContractPdbComponent" Guid="">
        <File Id="TurbineDataContractPdbId" Source="bin\Debug\application\Debug\Turbine.Data.Contract.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="TurbineDataDllComponent" Guid="">
        <File Id="TurbineDataDllId" Source="bin\Debug\application\Debug\Turbine.Data.dll" KeyPath="yes"/>
      </Component>
      <Component Id="TurbineDataPbdComponent" Guid="">
        <File Id="TurbineDataPbdId" Source="bin\Debug\application\Debug\Turbine.Data.pdb" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="CG.Turbine.AspenSinterConsumerConsole">
      <ComponentRef Id="AspenSinterConsumerConsoleComponent" />
      <ComponentRef Id="DummyConsumerConsoleComponent" />
      <ComponentRef Id="CMP.Logs"/>
      <ComponentRef Id="CMP.Data"/>
      <!--
      <ComponentRef Id="CMP.Bin"/>
      -->
      <ComponentRef Id="CMP.Config"/>
      <ComponentRef Id="CMP.Dummy.Config"/>
      <ComponentRef Id="CMP.AspenSinterDLL"/>
      <ComponentRef Id="CMP.AspenSinterPDB"/>
      <ComponentRef Id="CMP.SinterHelperFunctionsDLL"/>
      <ComponentRef Id="CMP.SinterHelperFunctionsPDB"/>
      <ComponentRef Id="AspenSinterConsumerConsolePDBComponent"/>
      <ComponentRef Id="DummyConsumerConsolePDBComponent"/>
      <!--
      <ComponentRef Id="AspenSinterConsumerConsoleVSHostComponent"/>
      <ComponentRef Id="AspenSinterConsumerConsoleVSHostConfigComponent"/>
      <ComponentRef Id="AspenSinterConsumerConsoleVSHostManifestComponent"/>
      -->
      <ComponentRef Id="ServiceLocationComponent"/>
      <ComponentRef Id="UnityConfigDLLComponent"/>
      <ComponentRef Id="UnityConfigPbdComponent"/>
      <ComponentRef Id="UnityConfigXMLComponent"/>
      <ComponentRef Id="UnityDLLComponent"/>
      <ComponentRef Id="UnityPdbComponent"/>
      <ComponentRef Id="UnityXmlComponent"/>
      <ComponentRef Id="JsonDllComponent"/>
      <ComponentRef Id="JsonPdbComponent"/>
      <ComponentRef Id="JsonXmlComponent"/>
      <ComponentRef Id="TurbineCommonDllComponent"/>
      <ComponentRef Id="TurbineCommonPdbComponent"/>
      <ComponentRef Id="TurbineConsumerDllComponent"/>
      <ComponentRef Id="TurbineConsumerPdbComponent"/>
      <ComponentRef Id="TurbineConsumerDataContractBehaviorsDllComponent"/>
      <ComponentRef Id="TurbineConsumerDataContractBehaviorsPdbComponent"/>
      <ComponentRef Id="TurbineConsumerDataContractComponent"/>
      <ComponentRef Id="TurbineConsumerDataContractPdbComponent"/>
      <ComponentRef Id="TurbineDataContractBehaviorsDllComponent"/>
      <ComponentRef Id="TurbineDataContractBehaviorsPdbComponent"/>
      <ComponentRef Id="TurbineDataContractDllComponent"/>
      <ComponentRef Id="TurbineDataContractPdbComponent"/>
      <ComponentRef Id="TurbineDataDllComponent"/>
      <ComponentRef Id="TurbineDataPbdComponent"/>
    </ComponentGroup>

    <Binary Id="BIN.CreateTables" SourceFile="bin\Debug\application\TurbineDataModel.edmx.sql"/>
    <Binary Id="BIN.InitializeTables" SourceFile="bin\Debug\application\Initialize.sql"/>
    
    <ComponentGroup Id="CG.Turbine.Database">
      <ComponentRef Id="CMP.Database.Create"/>
    </ComponentGroup>
    
    <ComponentGroup Id="CG.Turbine.Client">
      <ComponentRef Id="CMP.Turbine.Client.TurbineSimulationList"/>
      <ComponentRef Id="CMP.Turbine.Client.TurbineSimulationList.Config"/>
    </ComponentGroup>
    
    <ComponentGroup Id="CG.Turbine.Web.App">
      <ComponentRef Id="CMP.Web"/>
      <ComponentRef Id="CMP.Web.Config"/>
      
      <ComponentRef Id="CMP.Web.Global"/>
      <ComponentRef Id="CMP.Web.ServiceLocationComponent"/>
      <ComponentRef Id="CMP.Web.UnityConfigDLLComponent"/>
      <ComponentRef Id="CMP.Web.UnityConfigPbdComponent"/>
      <ComponentRef Id="CMP.Web.UnityConfigXMLComponent"/>
      <ComponentRef Id="CMP.Web.UnityDLLComponent"/>
      <ComponentRef Id="CMP.Web.UnityPdbComponent"/>
      <ComponentRef Id="CMP.Web.UnityXmlComponent"/>
      <ComponentRef Id="CMP.Web.JsonDllComponent"/>
      <ComponentRef Id="CMP.Web.JsonPdbComponent"/>
      <ComponentRef Id="CMP.Web.JsonXmlComponent"/>

      <ComponentRef Id="CMP.Turbine.Data.Contract.Behaviors"/>
      <ComponentRef Id="CMP.Turbine.Data.Contract.Behaviors.Debug"/>

      <ComponentRef Id="CMP.Turbine.Data.Contract"/>
      <ComponentRef Id="CMP.Turbine.Data.Contract.Debug"/>
      <ComponentRef Id="CMP.Turbine.Data"/>
      <ComponentRef Id="CMP.Turbine.Data.Debug"/>
      <ComponentRef Id="CMP.Turbine.Producer.Data.Contract.Behaviors"/>
      <ComponentRef Id="CMP.Turbine.Producer.Data.Contract.Behaviors.Debug"/>
      <ComponentRef Id="CMP.Turbine.Producer.Data.Contract"/>
      <ComponentRef Id="CMP.Turbine.Producer.Data.Contract.Debug"/>

      <ComponentRef Id="CMP.Turbine.Data.Serialize"/>
      <ComponentRef Id="CMP.Turbine.Data.Serialize.Debug"/>

      <ComponentRef Id="CMP.Turbine.Producer"/>
      <ComponentRef Id="CMP.Turbine.Producer.Debug"/>

      <ComponentRef Id="CMP.Turbine.Web"/>
      <ComponentRef Id="CMP.Turbine.Web.Debug"/>

      <ComponentRef Id="CMP.StandAloneWebApplication"/>
      <ComponentRef Id="CMP.StandAloneWebApplication.Debug"/>

    </ComponentGroup>

    <Feature Id="ProductFeature" Title="AspenConsumer" Level="1">

      <ComponentGroupRef Id="CG.Turbine.AspenSinterConsumerConsole"/>
      <!-- Note: The following ComponentGroupRef is required to pull in generated 
        authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />


    </Feature>

    <Feature Id="InitializeDatabaseFeature" Title="InitializeDatabase" Level="1">
      <ComponentGroupRef Id="CG.Turbine.Database"/>
    </Feature>

    <Feature Id="WebAppFeature" Title="WebApp" Level="1">
      <ComponentGroupRef Id="CG.Turbine.Web.App"/>
    </Feature>

    <Feature Id="ClientConsoleTools" Title="Client Console Tools" Level="1">
      <ComponentGroupRef Id="CG.Turbine.Client"/>
    </Feature>

    <Condition Message="Require Windows XP">
      <![CDATA[Installed or VersionNT = 501]]>
    </Condition>
    
    <!-- set property to Data directory -->
    <Property Id="PROP.WORKING.DIR" Value="REPLACE"/>
    <CustomAction Id="CA.DIR.Base" Property="PROP.WORKING.DIR" Value="[DIR.Data]" />

    <Property Id="PROP.SQLServer" Value=".\sqlexpress"/>
    <Property Id="PROP.Database" Value="Turbine"/>

    <!--  CHECK FOR  SQLExpress -->
    <Property Id="SQLSERVER">
      <RegistrySearch Id="SQLServer" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server" 
                      Type="raw" Name="InstalledInstances"/>
    </Property>
    <Condition Message="Install SQLExpress">
      <![CDATA[SQLSERVER >< SQLEXPRESSS]]>
    </Condition>

    <!--  CHECK FOR  SQLExpress -->
    <Property Id="IISEXPRESSVERSION">
      <RegistrySearch Id="IISinstance" Root="HKLM" Key="SOFTWARE\Microsoft\IISExpress\7.5"
                      Type="raw" Name="Version"/>
    </Property>
    <Condition Message="Install WebMatrix 2.0 IISExpress 7.5">
      <![CDATA[IISEXPRESSVERSION >< "7.5"]]>
    </Condition>
    
  </Product>
</Wix>