<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ProducerDataIntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="TurbineModelContainer" connectionString="metadata=res://*/TurbineDataModel.csdl|res://*/TurbineDataModel.ssdl|res://*/TurbineDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dudley.lbl.gov;Initial Catalog=turbineTest;Persist Security Info=True;User ID=uturbinetest;Password=F@DzF@D3;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <!--
        <add name="DummyConsumerLogListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="c:\turbine\log\DummyConsumer.log"/>
             -->

        <add name="configConsoleListener"
             type="System.Diagnostics.ConsoleTraceListener" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>


  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ConsoleContext" type="ProducerDataIntegrationTests.ConsoleContext, ProducerDataIntegrationTests" />
    <alias alias="IContext" type="Turbine.Consumer.Contract.Behaviors.IContext, Turbine.Consumer.Contract.Behaviors" />
    
    <alias alias="ConsumerContext" type="ProducerDataIntegrationTests.ConsumerContext, ProducerDataIntegrationTests" />
    <alias alias="IConsumerContext" type="Turbine.Consumer.Contract.Behaviors.IConsumerContext, Turbine.Consumer.Contract.Behaviors" />

    <alias alias="IConsumerRegistrationContract" type="Turbine.Consumer.Data.Contract.Behaviors.IConsumerRegistrationContract, Turbine.Consumer.Data.Contract.Behaviors" />
    <alias alias="IJobConsumerContract" type="Turbine.Consumer.Data.Contract.Behaviors.IJobConsumerContract, Turbine.Consumer.Data.Contract.Behaviors" />
    <alias alias="IJobQueue" type="Turbine.Consumer.Data.Contract.Behaviors.IJobQueue, Turbine.Consumer.Data.Contract.Behaviors" />

    <alias alias="ConsumerRegistrationContract" type="Turbine.Consumer.Data.Contract.ConsumerRegistrationContract, Turbine.Consumer.Data.Contract" />
    <alias alias="JobConsumerContract" type="Turbine.Consumer.Data.Contract.AspenJobConsumerContract, Turbine.Consumer.Data.Contract" />
    <alias alias="JobQueue" type="Turbine.Consumer.Data.Contract.DBJobQueue, Turbine.Consumer.Data.Contract" />


    <container name="consumer">

      <register type="IContext" mapTo="ConsoleContext" />
      <register type="IConsumerContext" mapTo="ConsumerContext" />
      <register type="IConsumerRegistrationContract" mapTo="ConsumerRegistrationContract" />
      <register type="IJobConsumerContract" mapTo="JobConsumerContract" />
      <register type="IJobQueue" mapTo="JobQueue" />
      
    </container>


    <alias alias="HTTPContext" type="ProducerDataIntegrationTests.TestProducerContext, ProducerDataIntegrationTests" />
    <alias alias="IProducerContext" type="Turbine.Producer.Contracts.IProducerContext, Turbine.Producer" />

    <container name="producerX">

      <register type="IProducerContext" mapTo="HTTPContext" />
      <!--
      <register type="IConsumerResourceAccessor" mapTo="DummyConsumerResourceAccessor" />
      -->

    </container>
    
    
  </unity>
  
  <userSettings>
    <ProducerDataIntegrationTests.Properties.Settings>
      <setting name="sinterConfiguration" serializeAs="String">
        <value>..\..\..\..\Documents\models\mea-cap-uq\trunk\mea\mea-sinter.txt</value>
      </setting>
      <setting name="simulationBackup" serializeAs="String">
        <value>..\..\..\..\Documents\models\mea-cap-uq\trunk\mea\mea.bkp</value>
      </setting>
    </ProducerDataIntegrationTests.Properties.Settings>
  </userSettings>
  
</configuration>