<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SinterIntegrationTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="HTTPContext" type="TurbineLiteConsumerIntegrationTest.TestProducerContext, TurbineLiteConsumerIntegrationTest"/>
    <alias alias="IProducerContext" type="Turbine.Producer.Contracts.IProducerContext, Turbine.Producer"/>
    <container name="producerX">
      <register type="IProducerContext" mapTo="HTTPContext"/>
    </container>

    <alias alias="SystemContext" type="SinterIntegrationTest.SystemContext, SinterIntegrationTest"/>
    <alias alias="IContext" type="Turbine.Consumer.Contract.Behaviors.IContext, Turbine.Consumer.Contract.Behaviors"/>

    <alias alias="ConsumerContext" type="SinterIntegrationTest.ConsumerContext, SinterIntegrationTest"/>
    <alias alias="IConsumerContext" type="Turbine.Consumer.Contract.Behaviors.IConsumerContext, Turbine.Consumer.Contract.Behaviors"/>

    <alias alias="IConsumerRegistrationContract" type="Turbine.Consumer.Data.Contract.Behaviors.IConsumerRegistrationContract, Turbine.Consumer.Data.Contract.Behaviors"/>
    <alias alias="IJobConsumerContract" type="Turbine.Consumer.Data.Contract.Behaviors.IJobConsumerContract, Turbine.Consumer.Data.Contract.Behaviors"/>
    <alias alias="IJobQueue" type="Turbine.Consumer.Data.Contract.Behaviors.IJobQueue, Turbine.Consumer.Data.Contract.Behaviors"/>

    <alias alias="ConsumerRegistrationContract" type="SinterIntegrationTest.ConsumerRegistrationContract, SinterIntegrationTest"/>
    <alias alias="JobConsumerContract" type="SinterIntegrationTest.ConsumerJobContract, SinterIntegrationTest"/>
    <alias alias="JobQueue" type="SinterIntegrationTest.JobQueue, SinterIntegrationTest"/>

    <alias alias="IConsumerRun" type="Turbine.Consumer.Contract.Behaviors.IConsumerRun, Turbine.Consumer.Contract.Behaviors"/>
    <alias alias="ConsumerRun" type="SinterIntegrationTest.InMemorySinterConsumer, SinterIntegrationTest"/>

    <alias alias="IConsumerMonitor" type="Turbine.Consumer.Contract.Behaviors.IConsumerMonitor, Turbine.Consumer.Contract.Behaviors"/>
    <alias alias="ConsumerMonitor" type="SinterIntegrationTest.InMemorySinterConsumerAspenPlusMonitor, SinterIntegrationTest"/>

    <container name="consumer">
      <register type="IContext" mapTo="SystemContext"/>
      <register type="IConsumerContext" mapTo="ConsumerContext"/>
      <register type="IConsumerRegistrationContract" mapTo="ConsumerRegistrationContract"/>
      <register type="IJobConsumerContract" mapTo="JobConsumerContract"/>
      <register type="IJobQueue" mapTo="JobQueue"/>
      <register type="IConsumerRun" mapTo="ConsumerRun"/>
      <register type="IConsumerMonitor" mapTo="ConsumerMonitor"/>
    </container>    
  </unity>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>

  <userSettings>
    <SinterIntegrationTest.Properties.Settings>
      <setting name="DynamicVdVACMConfig" serializeAs="String">
        <value>models\VdV_Reactor_Dynamic_Config.json</value>
      </setting>
      <setting name="DynamicVdVACMFilename" serializeAs="String">
        <value>VdV_Reactor_Dynamic_Config.json</value>
      </setting>
      <setting name="DynamicVdVACMDir" serializeAs="String">
        <value>models</value>
      </setting>
    </SinterIntegrationTest.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
