<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GPromsSinterConsumerWindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Sinter" publicKeyToken="28ab44ce8d2de9de"/>
        <codeBase href="SINTER_HREF" version="1.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="TurbineCompactDatabase" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="WindowsContext" type="GPromsSinterConsumerWindowsService.WindowsServiceContext, GPromsSinterConsumerWindowsService"/>
    <alias alias="IContext" type="Turbine.Consumer.Contract.Behaviors.IContext, Turbine.Consumer.Contract.Behaviors"/>
    <alias alias="ConsumerContext" type="GPromsSinterConsumerWindowsService.ConsumerContext, GPromsSinterConsumerWindowsService"/>
    <alias alias="IConsumerContext" type="Turbine.Consumer.Contract.Behaviors.IConsumerContext, Turbine.Consumer.Contract.Behaviors"/>

    <alias alias="IConsumerRegistrationContract" type="Turbine.Consumer.Data.Contract.Behaviors.IConsumerRegistrationContract, Turbine.Consumer.Data.Contract.Behaviors"/>
    <alias alias="IJobConsumerContract" type="Turbine.Consumer.Data.Contract.Behaviors.IJobConsumerContract, Turbine.Consumer.Data.Contract.Behaviors"/>
    <alias alias="IJobQueue" type="Turbine.Consumer.Data.Contract.Behaviors.IJobQueue, Turbine.Consumer.Data.Contract.Behaviors"/>

    <alias alias="JobConsumerContract" type="Turbine.Lite.Consumer.Data.Contract.ConsumerJobContract, Turbine.Lite.Consumer.Data.Contract"/>
    <alias alias="JobQueue" type="Turbine.Lite.Consumer.Data.Contract.DBJobQueue, Turbine.Lite.Consumer.Data.Contract"/>
    <alias alias="ConsumerRegistrationContract" type="Turbine.Lite.Consumer.Data.Contract.ConsumerRegistrationContract, Turbine.Lite.Consumer.Data.Contract"/>

    <alias alias="IConsumerRun" type="Turbine.Consumer.Contract.Behaviors.IConsumerRun, Turbine.Consumer.Contract.Behaviors"/>
    <alias alias="ConsumerRun" type="Turbine.Consumer.GProms.GPromsSinterConsumer, Turbine.Consumer.GProms"/>

    <alias alias="IContext" type="Turbine.Consumer.Contract.Behaviors.IContext, Turbine.Consumer.Contract.Behaviors"/>

    <alias alias="IConsumerMonitor" type="Turbine.Consumer.Contract.Behaviors.IConsumerMonitor, Turbine.Consumer.Contract.Behaviors"/>
    <alias alias="ConsumerMonitor" type="Turbine.Consumer.SimSinter.SinterConsumerMonitor, Turbine.Consumer.SimSinter"/>

    <container name="consumer">
      <register type="IContext" mapTo="WindowsContext"/>
      <register type="IConsumerContext" mapTo="ConsumerContext"/>
      <register type="IConsumerRegistrationContract" mapTo="ConsumerRegistrationContract"/>
      <register type="IJobConsumerContract" mapTo="JobConsumerContract"/>
      <register type="IJobQueue" mapTo="JobQueue"/>
      <register type="IConsumerRun" mapTo="ConsumerRun"/>
      <register type="IConsumerMonitor" mapTo="ConsumerMonitor"/>
    </container>

  </unity>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="SinterConsumerLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\turbine\log\GPromsSinterConsumerWindowsService_MS12.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>


  <userSettings>

    <GPromsSinterConsumerWindowsService.Properties.Settings>
      <setting name="BaseDirectory" serializeAs="String">
        <value>REPLACE</value>
      </setting>
      <setting name="CheckForNewJobsInterval" serializeAs="String">
        <value>30</value>
      </setting>
    </GPromsSinterConsumerWindowsService.Properties.Settings>
  </userSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
