<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="AWSContext"
           type="Turbine.Consumer.AWS.AWSConsumerContext, Turbine.Consumer.AWS" />
    <alias alias="IAWSContext"
           type="Turbine.Consumer.AWS.IAWSContext, Turbine.Consumer.AWS" />

    <container name="consumer.aws.properties">
      <!-- Accessed by the AWSConsumerResourceAccessor -->
      <register type="IAWSContext" mapTo="AWSContext" >
        <property name="SQSServiceURL" value="http://us-west-1.queue.amazonaws.com"/>
        <property name="SNSServiceURL" value="http://sns.us-west-1.amazonaws.com"/>
        <property name="Bucket" value="REPLACE"/>
        <property name="RequestTopicArn"
                  value="arn:aws:sns:us-west-1:754323349409:RequestTopicIntegrationTest"/>
        
        <property name="AccessKey"
                  value="AKIAIOZGXU2FSJ7XWMJQ"/>
        <property name="SecretKey"
                  value="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"/>
        <!--
        <property name="AccessKey"
          value="AKIAJNDCRWZMOU7ZJJEQ"/>
        <property name="SecretKey"
                  value="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"/>
                  -->
        <property name="ResponseQueuePrefix"
                  value="consumer_notification_"/>
      </register>

    </container>

    <alias alias="ConsoleContext" type="Turbine.Console.ConsoleContext, AspenSinterConsumerConsole" />
    <alias alias="IContext" type="Turbine.Consumer.Contract.Behaviors.IContext, Turbine.Consumer.Contract.Behaviors" />
    <alias alias="ConsumerContext" type="Turbine.Console.ConsumerContext, AspenSinterConsumerConsole" />
    <alias alias="IConsumerContext" type="Turbine.Consumer.Contract.Behaviors.IConsumerContext, Turbine.Consumer.Contract.Behaviors" />

    <alias alias="IConsumerRegistrationContract" type="Turbine.Consumer.Data.Contract.Behaviors.IConsumerRegistrationContract, Turbine.Consumer.Data.Contract.Behaviors" />
    <alias alias="IJobConsumerContract" type="Turbine.Consumer.Data.Contract.Behaviors.IJobConsumerContract, Turbine.Consumer.Data.Contract.Behaviors" />
    <alias alias="IJobQueue" type="Turbine.Consumer.Data.Contract.Behaviors.IJobQueue, Turbine.Consumer.Data.Contract.Behaviors" />


    <alias alias="JobConsumerContract" type="Turbine.Consumer.Data.Contract.AspenJobConsumerContract, Turbine.Consumer.Data.Contract" />
    <alias alias="JobQueue" type="Turbine.Consumer.Data.Contract.DBJobQueue, Turbine.Consumer.Data.Contract" />
    <alias alias="ConsumerRegistrationContract" type="Turbine.Consumer.Data.Contract.ConsumerRegistrationContract, Turbine.Consumer.Data.Contract" />

    <container name="consumer">
      <register type="IContext" mapTo="ConsoleContext" />
      <register type="IConsumerContext" mapTo="ConsumerContext" />
      <register type="IConsumerRegistrationContract" mapTo="ConsumerRegistrationContract" />
      <register type="IJobConsumerContract" mapTo="JobConsumerContract" />
      <register type="IJobQueue" mapTo="JobQueue" />
    </container>  
    
  </unity>

</configuration>