<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">

  <!-- 
  Turbine Gateway Standalone Installer
  
  Id="7c3d4cb3-3644-4b0f-b68f-8d09a7d3c50a"
  UpgradeCode="bb3fd2f7-ef57-4c3f-b1b4-1b88560edb48"
  -->
  <Product Id="*" 
           Name="TurbineGateway" 
           Language="1033" 
           Version="0.2.2.0" 
           Manufacturer="Lawrence Berkeley National Lab" 
           >
    
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <UIRef Id="WixUI_FeatureTree"/>
    <!-- pull in all properties from fragment -->
    <PropertyRef Id="PROP.NET_FRAMEWORK_4"/>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="Turbine" Name="Turbine">
          <Directory Id="INSTALLLOCATION" Name="StandAlone">
            <Directory Id="DIR.Logs" Name="Logs"/>
            <Directory Id="DIR.Data" Name="Data"/>
            <Directory Id="DIR.Bin" Name="Bin">
              <Directory Id="DIR.Bin.Common"/>
              <Directory Id="DIR.Bin.Clients"/>
            </Directory>
            <Directory Id="DIR.Web.Site" Name="WebSite">
              <Directory Id="DIR.Web" Name="WebApplication">  
                <Directory Id="DIR.Web.Bin" Name="bin">
                  <Directory Id="DIR.Web.Bin.Common"/>
                  <Directory Id="DIR.Web.Bin.StandAlone"/>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="DIR.Web">
      <Component Id="CMP.Web" Guid="6E58EFD2-6EF8-4B78-999D-C677D53DD66C" KeyPath="yes">
        <iis:WebAppPool Id="WAP.Id" Name="TurbineAppPool" 
                        ManagedPipelineMode="integrated" 
                        ManagedRuntimeVersion="v4.0">
        </iis:WebAppPool>

        <iis:WebSite Id="WS.Secure" Description="Turbine Secure Web Site"
                     AutoStart="yes" StartOnInstall="yes" ConfigureIfExists="no"
                     Directory="DIR.Web.Site">
          <iis:WebAddress Id="AllUnassigned" Port="8080" Secure="yes"/>
          <iis:WebVirtualDir Id="WebVirutalDir.Turbine" Alias="Turbine" Directory="DIR.Web">
            <iis:WebApplication Id="Turbine.Web.App" Name="Turbine Web Application" WebAppPool="WAP.Id"/>
          </iis:WebVirtualDir>
          <iis:WebDirProperties Id="Turbine.Web.Dir.Properties.1" 
                                AnonymousAccess="no" 
                                BasicAuthentication="no"
                                DigestAuthentication="no" 
                                WindowsAuthentication="yes"/>
        </iis:WebSite>

      </Component>

      <Component Id="CMP.Web.Config"  Guid="9606E288-FFDA-441B-9048-A73398A23049">
        <File Id="StandAloneWebConfigId"
              Name="Web.config"
              Source="bin\$(var.Configuration)\application\Web\Web.config"
              KeyPath="yes" Vital="yes"/>
        <util:XmlFile Id="WebConfigSetLogFile" Action="setValue" Permanent="yes" File="[#StandAloneWebConfigId]"
             ElementPath="/configuration/system.diagnostics/trace/listeners/add[\[]@name='turbineLogListener'[\]]"
             Name="initializeData"
             Value="[DIR.Logs]TurbineStandAloneWebApp.log" />
        <util:XmlFile Id="WebConfigSetConnStr" Action="setValue" Permanent="yes" File="[#StandAloneWebConfigId]"
             ElementPath="/configuration/connectionStrings/add[\[]@name='TurbineModelContainer'[\]]" 
             Name="connectionString"
             Value="metadata=res://*/TurbineDataModel.csdl|res://*/TurbineDataModel.ssdl|res://*/TurbineDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=[PROP.SQLSERVER];Initial Catalog=[PROP.DATABASE];Persist Security Info=True;MultipleActiveResultSets=True;Trusted_Connection=Yes&quot;" />
        <util:XmlFile Id="WebConfigAuth" Action="createElement" Permanent="yes" File="[#StandAloneWebConfigId]" Name="authentication"
             ElementPath="/configuration/system.web"/>
        <util:XmlFile Id="WebConfigIdentity" Action="createElement" Permanent="yes" File="[#StandAloneWebConfigId]" Name="identity"
             ElementPath="/configuration/system.web"/>
        <util:XmlFile Id="WebConfigAuthMode" Action="setValue" Permanent="yes" File="[#StandAloneWebConfigId]"
             ElementPath="/configuration/system.web/authentication" Name="mode"
             Value="Windows"/>
        <util:XmlFile Id="WebConfigIdentityValue" Action="setValue" Permanent="yes" File="[#StandAloneWebConfigId]"
             ElementPath="/configuration/system.web/identity" Name="impersonate"
             Value="true" />
      </Component>

      <Component Id="CMP.Web.Global" Guid="DAC990A6-FF63-4E7C-ADE5-55574F9ECC41">
        <File Id="WebGLobalFile" Source="bin\$(var.Configuration)\application\Web\Global.asax" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DIR.Web.Bin.StandAlone">
      <Component Id="CMP.StandAloneWebApplication" Guid="">
        <File Id="FILE.StandAloneWebApplication.DLL"
              Source="bin\$(var.Configuration)\application\Web\bin\StandAloneWebApplication.dll" KeyPath="yes"/>
      </Component>
      <?ifdef Debug ?>
      <Component Id="CMP.StandAloneWebApplication.Debug" Guid="">
        <File Id="FILE.StandAloneWebApplication.Debug"
              Source="bin\$(var.Configuration)\application\Web\bin\StandAloneWebApplication.pdb" KeyPath="yes"/>
      </Component>
      <?endif?>
    </DirectoryRef>

    <DirectoryRef Id="DIR.Bin">

      <Component Id="CMP.Bin" Guid="BB672CA5-EB25-44BB-8F2E-9B4B06B9D130" KeyPath="yes">
        <CreateFolder/>
      </Component>

      <Component Id="CMP.Database.Create" Guid="4E4A30F6-454D-491F-B6E7-0D8948F38A04">
        <sql:SqlDatabase Id="SqlDatabase" Database="[PROP.DATABASE]"
                         Server="[PROP.SQLSERVER]"
                         CreateOnInstall="yes"
                         DropOnInstall="no"
                         ContinueOnError="no">
          <sql:SqlScript Id="SCRIPT.CreateDatabase"
                         BinaryKey="BIN.CreateTables"
                         ExecuteOnInstall="yes"/>
          <sql:SqlString Id="SQL.SQLSTRING.Table_Applications_gPROMS"
                         Sequence="6"
                         SQL="INSERT INTO dbo.Applications VALUES ('gPROMS', '0.1', null);
INSERT INTO dbo.InputFileTypes VALUES ( newid(), 'configuration', 1, 'text/plain', 'gPROMS');
INSERT INTO dbo.InputFileTypes VALUES ( newid(), 'model', 1, 'text/plain', 'gPROMS');"
                         ContinueOnError="no"
                         ExecuteOnInstall="yes"/>
          <sql:SqlString Id="SQL.SQLSTRING.Table_Applications_AspenPlus"
                         Sequence="7"
                         SQL="          
INSERT INTO dbo.Applications VALUES ('AspenPlus', '0.1', null);
INSERT INTO dbo.InputFileTypes VALUES ( newid(), 'aspenfile', 1, 'text/plain', 'AspenPlus');
INSERT INTO dbo.InputFileTypes VALUES ( newid(), 'configuration', 1, 'text/plain', 'AspenPlus');"
                         ContinueOnError="no"
                         ExecuteOnInstall="yes"/>
          <sql:SqlString Id="SQL.SQLSTRING.Table_Applications_ACM"
                         Sequence="8"
                         SQL="    
INSERT INTO dbo.Applications VALUES ('ACM', '0.1', null);
INSERT INTO dbo.InputFileTypes VALUES ( newid(), 'aspenfile', 1, 'text/plain', 'ACM');
INSERT INTO dbo.InputFileTypes VALUES ( newid(), 'configuration', 1, 'text/plain', 'ACM');"
                         ContinueOnError="no"
                         ExecuteOnInstall="yes"/>
          <sql:SqlString Id="SQL.DropDB"
                         ExecuteOnUninstall="yes"
                         ContinueOnError="yes"
                         SQL="if ([PROP.DROPDB]='1')  drop database [PROP.DATABASE]"
                         Sequence="100"/>
        </sql:SqlDatabase>
        <!-- NOTE: Validation Fails Unless CreateFolder -->
        <CreateFolder/>
      </Component>

      <!-- CLIENT PROGRAMS
      -->
      <!-- Component: CONSUMERS 
      -->
    </DirectoryRef>
    <DirectoryRef Id="DIR.Bin.Clients">

        <Component Id="CMP.AspenSinterConsumerWindowsService" Guid="3611D749-F2FC-46BA-80CC-523D34F7E714">
          <File Id="AspenSinterConsumerWindowsServiceId"
                Source="bin\$(var.Configuration)\application\$(var.Configuration)\AspenSinterConsumerWindowsService.exe" KeyPath="yes"/>

          <ServiceInstall Id="InstallAspenSinterConsumerWindowsService"
                          Name="AspenConsumer"
                          DisplayName="Aspen Consumer"
                          Start="demand"
                          ErrorControl="normal"
                          Interactive="yes"
                          Type="ownProcess"
                          Vital="yes">
            <util:ServiceConfig
              ServiceName="AspenConsumer"
              FirstFailureActionType="restart"
              SecondFailureActionType="restart"
              ThirdFailureActionType="none"
              RestartServiceDelayInSeconds="10"
            />
          </ServiceInstall>
          <ServiceControl Id="SC.AspenConsumerWindowsService"
                         Name="AspenConsumer"
                         Stop="both"
                         Remove="uninstall"/>
          <!--                        
        Start="install" 
        -->
        </Component>

        <Component Id="CMP.AspenSinterConsumerWindowsService.Config"
                   Guid="4AACD8DD-075B-468F-A7E4-4DEBC7E4F5FE">
          <File Id="AspenSinterConsumerWindowsServiceConfigId"
              Name="AspenSinterConsumerWindowsService.exe.config"
              Source="bin\$(var.Configuration)\application\$(var.Configuration)\AspenSinterConsumerWindowsService.exe.config"
              KeyPath="yes" Vital="yes"/>
          <util:XmlFile
              Id="AspenSinterConsumerWindowsServiceConfigSetBaseDir"
              Action="setValue" Permanent="yes"
              File="[#AspenSinterConsumerWindowsServiceConfigId]"
              ElementPath="/configuration/userSettings/AspenSinterConsumerWindowsService.Properties.Settings/setting[\[]@name='BaseDirectory'[\]]/value"
              Value="[DIR.Data]" />
          <util:XmlFile
              Id="AspenSinterConsumerWindowsServiceConfigSetLogFile"
              Action="setValue" Permanent="yes"
              File="[#AspenSinterConsumerWindowsServiceConfigId]"
              ElementPath="/configuration/system.diagnostics/trace/listeners/add[\[]@name='SinterConsumerLogListener'[\]]"
              Name="initializeData"
              Value="[DIR.Logs]AspenSinterConsumerWindowsServiceLog.txt" />
          <util:XmlFile
              Id="AspenSinterConsumerWindowsServiceConfigSetConnStr"
              Action="setValue" Permanent="yes"
              File="[#AspenSinterConsumerWindowsServiceConfigId]"
              ElementPath="/configuration/connectionStrings/add[\[]@name='TurbineModelContainer'[\]]"
              Name="connectionString"
              Value="metadata=res://*/TurbineDataModel.csdl|res://*/TurbineDataModel.ssdl|res://*/TurbineDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=[PROP.SQLSERVER];Initial Catalog=[PROP.DATABASE];Persist Security Info=True;MultipleActiveResultSets=True;Trusted_Connection=Yes&quot;" />
        </Component>

        <Component Id="CMP.Turbine.Client.TurbineSimulationList" Guid="89129C5B-0A63-475A-B25F-DB294C22F829">
          <File Id="TurbineSimulationListId" Source="bin\$(var.Configuration)\application\$(var.Configuration)\TurbineSimulationList.exe" KeyPath="yes"/>
        </Component>
        <Component Id="CMP.Turbine.Client.TurbineSimulationList.Config"  Guid="54F50475-4479-47A2-BACA-7E3B8DA4F95F">
          <File Id="TurbineSimulationListConfigId"
                Name="TurbineSimulationList.exe.config"
                Source="bin\$(var.Configuration)\application\$(var.Configuration)\TurbineSimulationList.exe.config"
                KeyPath="yes" Vital="yes"/>
          <util:XmlFile Id="TurbineSimulationListConfigIdAppConfigSetConnStr"
               Action="setValue" Permanent="yes" File="[#TurbineSimulationListConfigId]"
               ElementPath="/configuration/connectionStrings/add[\[]@name='TurbineModelContainer'[\]]"
               Name="connectionString"
               Value="metadata=res://*/TurbineDataModel.csdl|res://*/TurbineDataModel.ssdl|res://*/TurbineDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=[PROP.SQLSERVER];Initial Catalog=[PROP.DATABASE];Persist Security Info=True;MultipleActiveResultSets=True;Trusted_Connection=Yes&quot;" />
        </Component>

        <!-- CONSUMERS 
      -->
        <Component Id="CMP.AspenSinterConsumerConsole" Guid="7044F1FF-258E-4156-B434-6262D4390D32">
          <File Id="AspenSinterConsumerConsoleId" Source="bin\$(var.Configuration)\application\$(var.Configuration)\AspenSinterConsumerConsole.exe" KeyPath="yes"/>
        </Component>
        <Component Id="CMP.DummyConsumerConsole" Guid="84130890-8400-4E15-9D8D-92629D0D60AD">
          <File Id="DummyConsumerConsoleId" Source="bin\$(var.Configuration)\application\$(var.Configuration)\DummyConsumerConsole.exe" KeyPath="yes"/>
        </Component>


        <Component Id="CMP.Config"  Guid="01F58807-2E5D-4BEC-AF58-5B808D9A7D66">
          <File Id="AspenSinterConsumerConsoleConfigId"
                Name="AspenSinterConsumerConsole.exe.config"
                Source="bin\$(var.Configuration)\application\$(var.Configuration)\AspenSinterConsumerConsole.exe.config"
                KeyPath="yes" Vital="yes"/>
          <util:XmlFile Id="AppConfigSetBaseDir" Action="setValue" Permanent="yes" File="[#AspenSinterConsumerConsoleConfigId]"
               ElementPath="/configuration/userSettings/Turbine.Console.Properties.Settings/setting[\[]@name='BaseDirectory'[\]]/value"
               Value="[DIR.Data]" />
          <util:XmlFile Id="AppConfigSetConnStr" Action="setValue" Permanent="yes" File="[#AspenSinterConsumerConsoleConfigId]"
               ElementPath="/configuration/connectionStrings/add[\[]@name='TurbineModelContainer'[\]]"
               Name="connectionString"
               Value="metadata=res://*/TurbineDataModel.csdl|res://*/TurbineDataModel.ssdl|res://*/TurbineDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=[PROP.SQLSERVER];Initial Catalog=[PROP.DATABASE];Persist Security Info=True;MultipleActiveResultSets=True;Trusted_Connection=Yes&quot;" />
        </Component>
        <Component Id="CMP.Dummy.Config"  Guid="33318310-C88A-4B02-89A5-7B4E737D7E61">
          <File Id="DummyConsumerConsoleConfigId"
                Name="DummyConsumerConsole.exe.config"
                Source="bin\$(var.Configuration)\application\$(var.Configuration)\DummyConsumerConsole.exe.config"
                KeyPath="yes" Vital="yes"/>
          <util:XmlFile Id="DummyAppConfigSetBaseDir" Action="setValue" Permanent="yes" File="[#DummyConsumerConsoleConfigId]"
               ElementPath="/configuration/userSettings/DummyConsumerConsole.Properties.Settings/setting[\[]@name='BaseDirectory'[\]]/value"
               Value="[DIR.Data]" />
          <util:XmlFile Id="DummyAppConfigSetConnStr" Action="setValue" Permanent="yes" File="[#DummyConsumerConsoleConfigId]"
               ElementPath="/configuration/connectionStrings/add[\[]@name='TurbineModelContainer'[\]]"
               Name="connectionString"
               Value="metadata=res://*/TurbineDataModel.csdl|res://*/TurbineDataModel.ssdl|res://*/TurbineDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=[PROP.SQLSERVER];Initial Catalog=[PROP.DATABASE];Persist Security Info=True;MultipleActiveResultSets=True;Trusted_Connection=Yes&quot;" />
        </Component>

      <!--
        <?ifdef Debug ?>
        <Component Id="CMP.AspenSinterConsumerWindowsServicePDB" Guid="E6F7D724-3DFD-4CF6-9614-85A483B88FC1">
          <File Id="AspenSinterConsumerWindowsServicePDBId" Source="bin\$(var.Configuration)\application\$(var.Configuration)\AspenSinterConsumerWindowsService.pdb" KeyPath="yes"/>
        </Component>
        <Component Id="CMP.AspenSinterConsumerConsolePDB" Guid="48FB9D46-22DB-49BC-9231-7591FFAE3311">
          <File Id="AspenSinterConsumerConsolePDBId" Source="bin\$(var.Configuration)\application\$(var.Configuration)\AspenSinterConsumerConsole.pdb" KeyPath="yes"/>
        </Component>
        <Component Id="CMP.DummyConsumerConsolePDB" Guid="44EF82D7-04EC-42E5-9C74-D5C10F6370F5">
          <File Id="DummyConsumerConsolePDBId" Source="bin\$(var.Configuration)\application\$(var.Configuration)\DummyConsumerConsole.pdb" KeyPath="yes"/>
        </Component>
        <?endif?>
        -->
      </DirectoryRef>
    
    <ComponentGroup Id="CG.Turbine.Web.StandAloneWebApplication">
      <ComponentRef Id="CMP.StandAloneWebApplication"/>
      <?ifdef Debug ?>
      <ComponentRef Id="CMP.StandAloneWebApplication.Debug"/>
      <?endif?>
    </ComponentGroup>


    <ComponentGroup Id="CG.Turbine.Bin.Clients">
      <ComponentRef Id="CMP.Dummy.Config"/>
      <ComponentRef Id="CMP.Config"/>
      <?ifdef Debug ?>
      <?endif?>
    </ComponentGroup>

    <!--
    FEATURES
    -->
    
    <Feature Id="Feature.Common"
         Title="Common"
         Description="Commom DLLs"
         Level="1">
      <ComponentGroupRef Id="CG.Turbine.Common"/>
      <ComponentGroupRef Id="Product.Generated" />
      
    </Feature>

    <Feature Id="Feature.Client"
         Title="Clients"
         Description="Client Console Programs and Services"
         Level="1">
      <ComponentGroupRef Id="CG.Turbine.Bin.Clients"/>
      <ComponentGroupRef Id="Product.Generated" /> 
    </Feature>
    
    <Feature Id="Feature.AspenConsumer"
             Title="AspenConsumer"
             Description="Aspen Consumer Windows server that executes AspenPlus or ACM simulations submitted to the gateway/database specified in properties."
             Level="1">
      <ComponentGroupRef Id="CG.Turbine.AspenSinterConsumer"/>
      <ComponentGroupRef Id="CG.ConsoleSinter"/>
      <!-- Note: The following ComponentGroupRef is required to pull in generated 
        authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />
      <Condition Level="1">
        Installed OR ((PROP.ASPENTECH = "Process Modeling (Aspen Plus)" OR PROP.ASPENTECH64 = "Process Modeling (Aspen Plus)") AND (PROP.ASPENTECH_VERSION = "#419430400" OR PROP.ASPENTECH_VERSION64 = "#419430400"))
      </Condition>
      
    </Feature>
    
    <Feature Id="Feature.WebDatabase"
             Title="WebDatabase"
             Description="Web Producer and Database"
             Level="0">
      
      <ComponentGroupRef Id="CG.Turbine.Database"/>
      <ComponentGroupRef Id="CG.Turbine.Web.App"/>
      <ComponentGroupRef Id="CG.Turbine.Web.StandAloneWebApplication"/>
      <!-- Note: The following ComponentGroupRef is required to pull in generated 
        authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />
      <Condition Level="1">
        Installed OR ((PROP.WINDOWS_AUTHENTICATION = "#1" OR PROP.WINDOWS_AUTHENTICATION64 = "#1") AND (PROP.TEST.SQLSERVER OR PROP.TEST.SQLSERVER64) AND (PROP.IIS_MAJOR_VERSION = "#7" AND PROP.IIS_MINOR_VERSION))
      </Condition>

    </Feature>
    
    <Feature Id="Feature.ClientConsoleTools" Title="Client Console Tools" Level="4">
      <ComponentGroupRef Id="CG.Turbine.Client"/>
    </Feature>

  </Product>
</Wix>