<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AspenSinterConsumerWindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="TurbineModelContainer" connectionString="" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="WindowsServiceContext" type="AspenSinterConsumerWindowsService.WindowsServiceContext, AspenSinterConsumerWindowsService"/>
    <alias alias="ConsumerContext" type="AspenSinterConsumerWindowsService.ConsumerContext, AspenSinterConsumerWindowsService"/>

    <alias alias="IContext" type="Turbine.Consumer.Contract.Behaviors.IContext, Turbine.Consumer.Contract.Behaviors" />
    <alias alias="IConsumerContext" type="Turbine.Consumer.Contract.Behaviors.IConsumerContext, Turbine.Consumer.Contract.Behaviors"/>

    <alias alias="IConsumerRegistrationContract" 
           type="Turbine.Consumer.Data.Contract.Behaviors.IConsumerRegistrationContract, Turbine.Consumer.Data.Contract.Behaviors"/>
    <alias alias="IJobConsumerContract" type="Turbine.Consumer.Data.Contract.Behaviors.IJobConsumerContract, Turbine.Consumer.Data.Contract.Behaviors"/>
    <alias alias="IJobQueue" type="Turbine.Consumer.Data.Contract.Behaviors.IJobQueue, Turbine.Consumer.Data.Contract.Behaviors"/>

    <alias alias="JobConsumerContract" type="Turbine.Consumer.Data.Contract.AspenJobConsumerContract, Turbine.Consumer.Data.Contract"/>
    <alias alias="JobQueue" type="Turbine.Consumer.Data.Contract.DBJobQueue, Turbine.Consumer.Data.Contract"/>

    <alias alias="ConsumerRegistrationContract" 
           type="Turbine.Consumer.Hybrid.Data.Contract.ConsumerRegistrationContract, Turbine.Consumer.Hybrid.Data.Contract"/>
    
    <alias alias="IAWSConsumerContext" type="Turbine.Consumer.AWS.IAWSContext, Turbine.Consumer.AWS"/>
    <alias alias="AWSConsumerContext" type="Turbine.Consumer.AWS.AWSConsumerContext, Turbine.Consumer.AWS"/>

    <container name="consumer">
      <register type="IContext" mapTo="WindowsServiceContext"/>
      <register type="IConsumerContext" mapTo="ConsumerContext"/>
      <register type="IConsumerRegistrationContract" mapTo="ConsumerRegistrationContract"/>
      <register type="IJobConsumerContract" mapTo="JobConsumerContract"/>
      <register type="IJobQueue" mapTo="JobQueue"/>
    </container>

    <container name="aws">
      <register type="IAWSConsumerContext" mapTo="AWSConsumerContext">
        <property name="Region" value="us-west-1"/>
        <property name="Bucket" value="REPLACE"/>
        <property name="AccessKey" value="REPLACE"/>
        <property name="SecretKey" value="REPLACE"/>
      </register>
    </container>
    
    <container name="consumer.aws.properties">
      <register type="IAWSConsumerContext" mapTo="AWSConsumerContext">
        <property name="Region" value="us-west-1"/>
        <property name="Bucket" value="REPLACE"/>
        <property name="AccessKey" value="REPLACE"/>
        <property name="SecretKey" value="REPLACE"/>
      </register>
    </container>
    
  </unity>
  
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="SinterConsumerLogListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="REPLACE"/>
        <add name="SQSLogListener"
             type="Turbine.Consumer.AWS.SQSTraceListener, Turbine.Consumer.AWS"
             initializeData="REPLACE"/>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  
  <userSettings>
    <AspenSinterConsumerWindowsService.Properties.Settings>
      <setting name="BaseDirectory" serializeAs="String">
        <value>REPLACE</value>
      </setting>
    </AspenSinterConsumerWindowsService.Properties.Settings>
  </userSettings>
  
</configuration>