<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GPromsSinterConsumerWindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Sinter" publicKeyToken="4be585aca2084488"/>
        <codeBase href="SINTER_HREF" version="2.1.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="TurbineCompactDatabase"
         providerName="System.Data.SqlServerCe.4.0"
         connectionString="Data Source=TurbineCompactDatabase.sdf"/>
  </connectionStrings>


  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="WindowsServiceContext" type="GPromsSinterConsumerWindowsService.WindowsServiceContext, GPromsSinterConsumerWindowsService"/>
    <alias alias="ConsumerContext" type="GPromsSinterConsumerWindowsService.ConsumerContext, GPromsSinterConsumerWindowsService"/>
    
    <alias alias="IContext" type="Turbine.Consumer.Contract.Behaviors.IContext, Turbine.Consumer.Contract.Behaviors" />
    <alias alias="IConsumerContext" type="Turbine.Consumer.Contract.Behaviors.IConsumerContext, Turbine.Consumer.Contract.Behaviors" />

    <alias alias="IConsumerRegistrationContract"
           type="Turbine.Consumer.Data.Contract.Behaviors.IConsumerRegistrationContract, Turbine.Consumer.Data.Contract.Behaviors" />
    <alias alias="IJobConsumerContract" type="Turbine.Consumer.Data.Contract.Behaviors.IJobConsumerContract, Turbine.Consumer.Data.Contract.Behaviors" />
    <alias alias="IJobQueue" type="Turbine.Consumer.Data.Contract.Behaviors.IJobQueue, Turbine.Consumer.Data.Contract.Behaviors" />

    <alias alias="JobConsumerContract" type="Turbine.Lite.Consumer.Data.Contract.ConsumerJobContract, Turbine.Lite.Consumer.Data.Contract" />
    <alias alias="JobQueue" type="Turbine.Lite.Consumer.Data.Contract.DBJobQueue, Turbine.Lite.Consumer.Data.Contract" />
    <alias alias="ConsumerRegistrationContract"
           type="Turbine.Lite.Consumer.Data.Contract.ConsumerRegistrationContract, Turbine.Lite.Consumer.Data.Contract" />

    <alias alias="IConsumerRun" type="Turbine.Consumer.Contract.Behaviors.IConsumerRun, Turbine.Consumer.Contract.Behaviors"/>
    <alias alias="ConsumerRun" type="Turbine.Consumer.GProms.GPromsSinterConsumer, Turbine.Consumer.GProms"/>

    <alias alias="IConsumerMonitor" type="Turbine.Consumer.Contract.Behaviors.IConsumerMonitor, Turbine.Consumer.Contract.Behaviors"/>
    <alias alias="ConsumerMonitor" type="Turbine.Consumer.SimSinter.SinterConsumerMonitor, Turbine.Consumer.SimSinter"/>
    
    <container name="consumer">
      <register type="IContext" mapTo="WindowsServiceContext" />
      <register type="IConsumerContext" mapTo="ConsumerContext" />
      <register type="IConsumerRegistrationContract" mapTo="ConsumerRegistrationContract" />
      <register type="IJobConsumerContract" mapTo="JobConsumerContract" />
      <register type="IJobQueue" mapTo="JobQueue" />
      <register type="IConsumerRun" mapTo="ConsumerRun" />
      <register type="IConsumerMonitor" mapTo="ConsumerMonitor" />
    </container>
 
  </unity>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" 
           invariant="System.Data.SqlServerCe.4.0" 
           description=".NET Framework Data Provider for Microsoft SQL Server Compact" 
           type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="SinterConsumerLogListener"
             type="System.Diagnostics.TextWriterTraceListener"
             traceOutputOptions="ProcessId, DateTime"
             initializeData="REPLACE"/>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <userSettings>
    <GPromsSinterConsumerWindowsService.Properties.Settings>
      <setting name="BaseDirectory" serializeAs="String">
        <value>REPLACE</value>
      </setting>
      <setting name="CheckForNewJobsInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TimeOutIterations" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="TimeOutSetupIterations" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TimePostInitIterations" serializeAs="String">
        <value>16</value>
      </setting>
    </GPromsSinterConsumerWindowsService.Properties.Settings>
  </userSettings>
  

</configuration>