<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DummyConsumerConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="TurbineCompactDatabase"
         connectionString=""
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="configConsoleListener"
             type="System.Diagnostics.ConsoleTraceListener" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>


  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ConsoleContext" type="DummyConsumerConsole.ConsoleContext, DummyConsumerConsole" />
    <alias alias="IContext" type="Turbine.Consumer.Contract.Behaviors.IContext, Turbine.Consumer.Contract.Behaviors" />
    
    <alias alias="ConsumerContext" type="DummyConsumerConsole.ConsumerContext, DummyConsumerConsole" />
    <alias alias="IConsumerContext" type="Turbine.Consumer.Contract.Behaviors.IConsumerContext, Turbine.Consumer.Contract.Behaviors" />

    <alias alias="IConsumerRegistrationContract" type="Turbine.Consumer.Data.Contract.Behaviors.IConsumerRegistrationContract, Turbine.Consumer.Data.Contract.Behaviors" />
    <alias alias="IJobConsumerContract" type="Turbine.Consumer.Data.Contract.Behaviors.IJobConsumerContract, Turbine.Consumer.Data.Contract.Behaviors" />
    <alias alias="IJobQueue" type="Turbine.Consumer.Data.Contract.Behaviors.IJobQueue, Turbine.Consumer.Data.Contract.Behaviors" />

    <alias alias="ConsumerRegistrationContract" type="Turbine.Consumer.Data.Contract.ConsumerRegistrationContract, Turbine.Consumer.Data.Contract" />
    <alias alias="JobConsumerContract" type="Turbine.Consumer.Data.Contract.AspenJobConsumerContract, Turbine.Consumer.Data.Contract" />
    <alias alias="JobQueue" type="Turbine.Consumer.Data.Contract.DBJobQueue, Turbine.Consumer.Data.Contract" />


    <container name="consumer">

      <register type="IContext" mapTo="ConsoleContext" />
      <register type="IConsumerContext" mapTo="ConsumerContext" />
      <register type="IConsumerRegistrationContract" mapTo="ConsumerRegistrationContract" />
      <register type="IJobConsumerContract" mapTo="JobConsumerContract" />
      <register type="IJobQueue" mapTo="JobQueue" />
      
    </container>
    
  </unity>
  
  <userSettings>
    <DummyConsumerConsole.Properties.Settings>
      <setting name="BaseDirectory" serializeAs="String">
        <value>REPLACE</value>
      </setting>
    </DummyConsumerConsole.Properties.Settings>
  </userSettings>
</configuration>