<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="HTTPContext" type="TurbineLiteConsumerIntegrationTest.TestProducerContext, TurbineLiteConsumerIntegrationTest"/>
    <alias alias="IProducerContext" type="Turbine.Producer.Contracts.IProducerContext, Turbine.Producer"/>
    <container name="producerX">
      <register type="IProducerContext" mapTo="HTTPContext"/>
    </container>

    <alias alias="SystemContext" type="Sinter_Aspen73_IntegrationTest.SystemContext, Sinter_Aspen73_IntegrationTest"/>
    <alias alias="IContext" type="Turbine.Consumer.Contract.Behaviors.IContext, Turbine.Consumer.Contract.Behaviors"/>

    <alias alias="ConsumerContext" type="Sinter_Aspen73_IntegrationTest.ConsumerContext, Sinter_Aspen73_IntegrationTest"/>
    <alias alias="IConsumerContext" type="Turbine.Consumer.Contract.Behaviors.IConsumerContext, Turbine.Consumer.Contract.Behaviors"/>

    <alias alias="IConsumerRegistrationContract" type="Turbine.Consumer.Data.Contract.Behaviors.IConsumerRegistrationContract, Turbine.Consumer.Data.Contract.Behaviors"/>
    <alias alias="IJobConsumerContract" type="Turbine.Consumer.Data.Contract.Behaviors.IJobConsumerContract, Turbine.Consumer.Data.Contract.Behaviors"/>
    <alias alias="IJobQueue" type="Turbine.Consumer.Data.Contract.Behaviors.IJobQueue, Turbine.Consumer.Data.Contract.Behaviors"/>

    <alias alias="ConsumerRegistrationContract" type="Sinter_Aspen73_IntegrationTest.ConsumerRegistrationContract, Sinter_Aspen73_IntegrationTest"/>
    <alias alias="JobConsumerContract" type="Sinter_Aspen73_IntegrationTest.ConsumerJobContract, Sinter_Aspen73_IntegrationTest"/>
    <alias alias="JobQueue" type="Sinter_Aspen73_IntegrationTest.JobQueue, Sinter_Aspen73_IntegrationTest"/>

    <alias alias="IConsumerRun" type="Turbine.Consumer.Contract.Behaviors.IConsumerRun, Turbine.Consumer.Contract.Behaviors"/>
    <alias alias="ConsumerRun" type="Sinter_Aspen73_IntegrationTest.InMemorySinterConsumer, Sinter_Aspen73_IntegrationTest"/>

    <container name="consumer">
      <register type="IContext" mapTo="SystemContext"/>
      <register type="IConsumerContext" mapTo="ConsumerContext"/>
      <register type="IConsumerRegistrationContract" mapTo="ConsumerRegistrationContract"/>
      <register type="IJobConsumerContract" mapTo="JobConsumerContract"/>
      <register type="IJobQueue" mapTo="JobQueue"/>
      <register type="IConsumerRun" mapTo="ConsumerRun"/>
    </container>    
  </unity>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
