<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">

  <!--
    Turbine Gateway Cluster Installer
  -->

  <Product Id="*"
           UpgradeCode="9b3ddcc6-af8a-4f7c-b425-94509352837a"
           Name="TurbineClusterGateway"
           Language="1033"
           Version="0.5.1.0"
           Manufacturer="Lawrence Berkeley National Lab"
           >

    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <!-- license -->
    <WixVariable Id="WixUILicenseRtf" Value="..\..\..\..\CCSI_TE_LICENSE.rtf" />

    <UIRef Id="MyWebUI" />
    <!-- pull in all properties from fragment -->
    <PropertyRef Id="PROP.NET_FRAMEWORK_4"/>

    <!--#################################################
        #   Directory 
        #################################################-->

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="Turbine" Name="Turbine">
          <Directory Id="DIR.INSTALL_LOCATION" Name="Gateway">
            <Directory Id="DIR.Logs" Name="Logs"/>
            <Directory Id="DIR.Data" Name="Data"/>
            <Directory Id="DIR.Bin" Name="Bin">
              <Directory Id="DIR.Bin.Dependencies"/>
              <Directory Id="DIR.Bin.Core"/>
              <Directory Id="DIR.Bin.Turbine.Admin"/>
            </Directory>

            <Directory Id="DIR.Web.Site" Name="WebSite">
              <Directory Id="DIR.Web" Name="WebApplication">
                <Directory Id="DIR.Web.Bin" Name="bin">
                  <Directory Id="DIR.Web.Bin.Application"/>
                  <Directory Id="DIR.TurbineWebAPI.Dependencies"/>
                  <Directory Id="DIR.Web.Bin.Core"/>
                  <Directory Id="DIR.TurbineWebAPI.Core"/>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!--#################################################
        #   DirectoryRefs
        #################################################-->

    <DirectoryRef Id="DIR.Web.Bin.Application">
      <Component Id="CMP.SimpleWebApplication" Guid="1C8F78B1-7316-4EED-AF46-F7A721E42DD1">
        <File Id="FILE.SimpleWebApplication.DLL"
              Source="..\..\Master\SimpleWebApplication\bin\$(var.Configuration)\SimpleWebApplication.dll" KeyPath="yes"/>
      </Component>
      <?ifdef Debug ?>
      <Component Id="CMP.SimpleWebApplication.Debug" Guid="C6AC5F32-5A7F-4B35-91D6-64F9DE14A2B9">
        <File Id="FILE.SimpleWebApplication.Debug"
              Source="..\..\Master\SimpleWebApplication\bin\$(var.Configuration)\SimpleWebApplication.pdb" KeyPath="yes"/>
      </Component>
      <?endif?>
    </DirectoryRef>

    <DirectoryRef Id="DIR.Web">
      <Component Id="CMP.Web" Guid="6E58EFD2-6EF8-4B78-999D-C677D53DD66C" KeyPath="yes">
        <iis:WebAppPool Id="WAP.Id" Name="TurbineAppPool"
                        ManagedPipelineMode="integrated"
                        ManagedRuntimeVersion="v4.0">
        </iis:WebAppPool>

        <iis:WebSite Id="WS.Secure" Description="Turbine Secure Web Site"
                     AutoStart="yes" StartOnInstall="yes" ConfigureIfExists="no"
                     Directory="DIR.Web.Site">
          <iis:WebAddress Id="AllUnassigned" Port="8080" Secure="yes"/>
          <iis:WebVirtualDir Id="WebVirutalDir.Turbine" Alias="Turbine" Directory="DIR.Web">
            <iis:WebApplication Id="Turbine.Web.App" Name="Turbine Web Application" WebAppPool="WAP.Id"/>
          </iis:WebVirtualDir>
          <iis:WebDirProperties Id="Turbine.Web.Dir.Properties.1"
                                AnonymousAccess="yes"
                                BasicAuthentication="no"
                                DigestAuthentication="no"
                                WindowsAuthentication="no"/>
        </iis:WebSite>
      </Component>

      <Component Id="CMP.Web.Config"  Guid="9606E288-FFDA-441B-9048-A73398A23049">
        <File Id="FILE.ClusterWebConfigId"
              Name="Web.config"
              Source="..\..\Master\SimpleWebApplication\Web.config"
              KeyPath="yes" Vital="yes"/>
        <util:XmlFile Id="WebConfigSetLogFile" Action="setValue" Permanent="yes" File="[#FILE.ClusterWebConfigId]"
             ElementPath="/configuration/system.diagnostics/trace/listeners/add[\[]@name='turbineLogListener'[\]]"
             Name="initializeData"
             Value="[DIR.Logs]TurbineCloudWebApp.log" />
        <util:XmlFile Id="WebConfigSetConnStr" Action="setValue" Permanent="yes" File="[#FILE.ClusterWebConfigId]"
             ElementPath="/configuration/connectionStrings/add[\[]@name='TurbineCompactDatabase'[\]]"
             Name="connectionString"
             Value="Data Source=[PROP.SQLSERVER];Initial Catalog=[PROP.DATABASE];User ID=[PROP.SQL_LOGIN];Password=[PROP.SQL_PASSWORD];Persist Security Info=True;MultipleActiveResultSets=True;" />
      </Component>

      <Component Id="CMP.Web.Global" Guid="DAC990A6-FF63-4E7C-ADE5-55574F9ECC41">
        <File Id="WebGLobalFile" Source="..\..\Master\SimpleWebApplication\Global.asax" KeyPath="yes"/>
      </Component>
    </DirectoryRef>


    <DirectoryRef Id="DIR.Bin">

      <Component Id="CMP.Bin" Guid="BB672CA5-EB25-44BB-8F2E-9B4B06B9D130" KeyPath="yes">
        <CreateFolder/>
        <RemoveFile Id="RF.Bin" Name="*.*" On="uninstall" />
      </Component>

      <Component Id="CMP.Database.Create" Guid="4E4A30F6-454D-491F-B6E7-0D8948F38A04">

        <sql:SqlDatabase Id="SqlDatabase"
                         Database="[PROP.DATABASE]"
                         Server="[PROP.SQLSERVER]"
                         CreateOnInstall="yes"
                         DropOnInstall="no"
                         DropOnUninstall="yes"
                         ContinueOnError="no">
          <sql:SqlString Id="SQL.SQLSTRING.Login"
                         Sequence="2"
                         SQL="CREATE LOGIN [PROP.SQL_LOGIN] WITH PASSWORD='[PROP.SQL_PASSWORD]'"
                         ContinueOnError="no"
                         ExecuteOnInstall="yes"/>
          <sql:SqlString Id="SQL.SQLSTRING.User"
                         Sequence="3"
                         SQL="CREATE USER [PROP.SQL_USERID] FOR LOGIN [PROP.SQL_LOGIN]"
                         ContinueOnError="no"
                         ExecuteOnInstall="yes"/>
          <sql:SqlString Id="SQL.SQLSTRING.RoleReader"
                         Sequence="4"
                         SQL="sp_addrolemember 'db_datareader', '[PROP.SQL_USERID]'"
                         ContinueOnError="no"
                         ExecuteOnInstall="yes"/>
          <sql:SqlString Id="SQL.SQLSTRING.RoleWriter"
                         Sequence="5"
                         SQL="sp_addrolemember 'db_datawriter', '[PROP.SQL_USERID]'"
                         ContinueOnError="no"
                         ExecuteOnInstall="yes"/>
          <sql:SqlString Id="SQL.SQLSTRING.RoleOwner"
                         Sequence="5"
                         SQL="EXEC sp_addrolemember 'db_owner', '[PROP.SQL_USERID]'"
                         ContinueOnError="no"
                         ExecuteOnInstall="yes"/>

          <sql:SqlString Id="SQL.SQLSTRING.SQL_MIXED_MODE"
                        Sequence="11"
                        SQL="
EXEC xp_instance_regwrite 
    N'HKEY_LOCAL_MACHINE', 
    N'Software\Microsoft\MSSQLServer\MSSQLServer', 
    N'LoginMode', 
    REG_DWORD, 
    2;"
                        ExecuteOnInstall="yes"
                        ContinueOnError="no"/>

        </sql:SqlDatabase>

        <CreateFolder/>

      </Component>
    </DirectoryRef>
    
    <!--#################################################
        #   ComponentGroup
        #################################################-->

    <ComponentGroup Id="CG.Turbine.Web.Cluster">
      <ComponentRef Id="CMP.SimpleWebApplication"/>
      <?ifdef Debug ?>
      <ComponentRef Id="CMP.SimpleWebApplication.Debug"/>
      <?endif?>
    </ComponentGroup>



    <!--#################################################
        #   Features
        #################################################-->

    <Feature Id="Feature.Gateway" Title="Core Gateway Components"
               Description="Core gateway components that should be installed once (single tier or multiple tier deployments)"
               Level="3">

      <Feature Id="Feature.Database"
               Title="Database"
               Description="Shared Database"
               Level="3">
        <ComponentGroupRef Id="CG.Turbine.Database"/>
        <ComponentGroupRef Id="Product.Generated" />
      </Feature>

      <Feature Id="Feature.Web"
           Title="Web API"
           Description="RESTful HTTP API Web Producer"
           Level="3">
        <ComponentGroupRef Id="CG.Turbine.Web.App"/>
        <ComponentGroupRef Id="CG.Turbine.Web.Cluster"/>
        <ComponentGroupRef Id="Product.Generated" />
      </Feature>

      <Feature Id="Feature.Admin.Utilities"
               Title="Administrator Utilities"
               Description="Administrator Console programs for user account management"
               Level="3">
        <ComponentGroupRef Id="CG.Turbine.Client.Dependencies"/>
        <ComponentGroupRef Id="CG.Turbine.Client.Core"/>
        <ComponentGroupRef Id="CG.Turbine.Admin"/>
        <ComponentGroupRef Id="Product.Generated" />
      </Feature>

    </Feature>

    <!--#################################################
        #   Installation Sequence
        #################################################-->

    <InstallUISequence>
      <!-- Database -->
      <Custom Action="CA.CHECK.SQL_LOGIN" After="ProgressDlg">
        <![CDATA[NOT Installed AND PROP.SQL_LOGIN = ""]]>
      </Custom>
      <Custom Action="CA.CHECK.SQL_PASSWORD" After="CA.CHECK.SQL_LOGIN">
        <![CDATA[NOT Installed AND PROP.SQL_PASSWORD = ""]]>
      </Custom>

      <!-- Web Login -->
      <Custom Action="CA.CHECK.TURBINE_USER" After="CA.CHECK.SQL_PASSWORD">
        <![CDATA[NOT Installed AND (&Feature.Database = 3) AND PROP.TURBINE_USER = ""]]>
      </Custom>
      <Custom Action="CA.CHECK.TURBINE_PASSWORD" After="CA.CHECK.TURBINE_USER">
        <![CDATA[NOT Installed AND (&Feature.Database = 3) AND PROP.TURBINE_PASSWORD = ""]]>
      </Custom>

      <Custom Action="CA.SetSecurityToken.1" Before="CA.DATABASE_WARNING">
        <![CDATA[NOT Installed AND (&Feature.Database = 3)]]>
      </Custom>
      <Custom Action="CA.SetSecurityToken.2" After="CA.SetSecurityToken.1">
        <![CDATA[NOT Installed AND (&Feature.Database = 3)]]>
      </Custom>

      <!-- Database -->
      <Custom Action="CA.CHECK.SQL_SERVER_DEFAULT_INSTANCE" After="CA.CHECK.SQL_PASSWORD">
        <![CDATA[NOT Installed AND (&Feature.Database = 3) AND (PROP.SQL_SERVER_DEFAULT = "" AND PROP.SQL_SERVER_DEFAULT64 = "")]]>
      </Custom>

      <Custom Action="CA.DATABASE_WARNING" After="CA.CHECK.SQL_SERVER_DEFAULT_INSTANCE">
        <![CDATA[NOT Installed AND (&Feature.Database = 3)]]>
      </Custom>

    </InstallUISequence>

    <!--#################################################
        #   Properties
        #################################################-->

    <Property Id="PROP.SQL_USERID" Value="uturbine"/>
    <Property Id="PROP.SQL_LOGIN"/>
    <Property Id="PROP.SQL_PASSWORD"/>
    <Property Id="PROP.TURBINE_USER"/>
    <Property Id="PROP.TURBINE_PASSWORD"/>

  </Product>


</Wix>