<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Turbine.Data.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DataIntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TurbineModelContainer" connectionString="metadata=res://*/TurbineDataModel.csdl|res://*/TurbineDataModel.ssdl|res://*/TurbineDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dudley.lbl.gov;Initial Catalog=turbineStandAloneMS9Test;Persist Security Info=True;User ID=uturbinetest;Password=F@DzF@D3;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Turbine.Data.Test.Properties.Settings>
      <setting name="simulationBackup" serializeAs="String">
        <value>..\..\..\..\..\..\..\ts3\mea-cap-uq\trunk\mea\mea.bkp</value>
      </setting>
      <setting name="sinterConfiguration" serializeAs="String">
        <value>..\..\..\..\..\..\..\ts3\mea-cap-uq\trunk\mea\mea-sinter.txt</value>
      </setting>
    </Turbine.Data.Test.Properties.Settings>
    <DataIntegrationTests.Properties.Settings>
      <setting name="simulationBackup" serializeAs="String">
        <value>C:\aspenfiles\svn2\ts3\mea-cap-uq\trunk\mea\mea.bkp</value>
      </setting>
      <setting name="sinterConfiguration" serializeAs="String">
        <value>C:\aspenfiles\svn2\ts3\mea-cap-uq\trunk\mea\mea-sinter.txt</value>
      </setting>
    </DataIntegrationTests.Properties.Settings>
  </userSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="DITContext" type="Turbine.Data.Test.AppTestContext, DataIntegrationTests" />
    <alias alias="IContext" type="Turbine.Common.IContext, Turbine.Common" />
    <alias alias="DITConsumerContext" type="Turbine.Data.Test.AppTestConsumerContext, DataIntegrationTests" />
    <alias alias="IConsumerContext" type="Turbine.Common.IConsumerContext, Turbine.Common" />
    <alias alias="IProducerContext" type="Turbine.Producer.Contracts.IProducerContext, Turbine.Producer" />
    <alias alias="HTTPContext" type="Turbine.Data.Test.FakeHTTPContext, DataIntegrationTests" />
    <container name="producerX">
      <register type="IProducerContext" mapTo="HTTPContext" />
      <!--
      <register type="IConsumerResourceAccessor" mapTo="AWSConsumerResourceAccessor" />
      -->
    </container>
    <container name="consumer">
      <register type="IContext" mapTo="DITContext" />
      <register type="IConsumerContext" mapTo="DITConsumerContext" />
    </container>
  </unity>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="DataIntegrationTests" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>