<?xml version="1.0"?>
<!--
Turbine Gateway Standalone Web Application Configuration
-->
<configuration>
  <configSections>
    <section name="unity" 
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="turbineLogListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData=""/>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!-- set at 12MB, keep this larger than binding maxReceivedMessageSize-->
    <httpRuntime maxRequestLength="12288"/>
  </system.web>

  <system.webServer>
    <!-- Enable PUT, DELETE -->
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>

    <bindings>
      <webHttpBinding>
        <!-- maxReivedMessageSize: enable message size 1MB for Aspen Backup file 
             If this is exceeded service responds with HTTP 400 Bad Request
        -->
        <binding name="ApplicationBindingConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="SimulationBindingConfiguration" maxReceivedMessageSize="10485760">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="SessionBindingConfiguration" maxReceivedMessageSize="1048576">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="ConsumerBindingConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="JobBindingConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service name="Turbine.Web.Resources.ApplicationResource"
                 behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint binding="webHttpBinding"
                  bindingConfiguration="ApplicationBindingConfiguration"
                  contract="Turbine.Web.Contracts.IApplicationResource"
                  />
      </service>
      
      <service name="Turbine.Web.Resources.SimulationResource"
                 behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint binding="webHttpBinding"
                  bindingConfiguration="SimulationBindingConfiguration"
                  contract="Turbine.Web.Contracts.ISimulationResource"
                  />
      </service>

      <service name="Turbine.Web.Resources.SessionResource"
                 behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint binding="webHttpBinding"
                  bindingConfiguration="SessionBindingConfiguration"
                  contract="Turbine.Web.Contracts.ISessionResource"
                  />
      </service>

      <service name="Turbine.Web.Resources.JobResource"
                 behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint binding="webHttpBinding"
                  bindingConfiguration="JobBindingConfiguration"
                  contract="Turbine.Web.Contracts.IJobResource"
                  />
      </service>

      <service name="Turbine.Web.Resources.ConsumerResource"
                 behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint binding="webHttpBinding"
                  bindingConfiguration="ConsumerBindingConfiguration"
                  contract="Turbine.Web.Contracts.IConsumerResource"
                  />
      </service>

    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataAndDebugEnabled">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <connectionStrings>
    <add name="TurbineModelContainer"
         connectionString=""
         providerName="System.Data.EntityClient" />
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="HTTPContext" type="StandAloneWebApplication.WindowsAuthentiationProducerContext, StandAloneWebApplication" />
    <alias alias="IProducerContext" type="Turbine.Producer.Contracts.IProducerContext, Turbine.Producer" />
    
    <alias alias ="IConsumerResourceAccessor"
           type="Turbine.Producer.Contracts.IConsumerResourceAccessor, Turbine.Producer"/>
    <alias alias="DummyConsumerResourceAccessor"
           type="StandAloneWebApplication.ConsumerResourceAccessor, StandAloneWebApplication"/>

    <container name="producerX">

      <register type="IProducerContext" mapTo="HTTPContext" />
      <register type="IConsumerResourceAccessor" mapTo="DummyConsumerResourceAccessor" />

    </container>
  </unity>

</configuration>