<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Turbine.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Sinter" publicKeyToken="4be585aca2084488" culture="neutral"/>
        <codeBase version="2.1.0.1" href="FILE://C:\Program Files (x86)\CCSI\SimSinter\Sinter.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="TurbineCompactDatabase" providerName="System.Data.SqlClient" connectionString="" />
  </connectionStrings>


  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="ConsoleContext" type="Turbine.Console.ConsoleContext, AspenSinterConsumerConsole" />
    <alias alias="IContext" type="Turbine.Consumer.Contract.Behaviors.IContext, Turbine.Consumer.Contract.Behaviors" />
    <alias alias="ConsumerContext" type="Turbine.Consumer.Console.ConsumerContext, Turbine.Consumer.Console" />
    <alias alias="IConsumerContext" type="Turbine.Consumer.Contract.Behaviors.IConsumerContext, Turbine.Consumer.Contract.Behaviors" />

    <alias alias="IConsumerRegistrationContract" type="Turbine.Consumer.Data.Contract.Behaviors.IConsumerRegistrationContract, Turbine.Consumer.Data.Contract.Behaviors" />
    <alias alias="IJobConsumerContract" type="Turbine.Consumer.Data.Contract.Behaviors.IJobConsumerContract, Turbine.Consumer.Data.Contract.Behaviors" />
    <alias alias="IJobQueue" type="Turbine.Consumer.Data.Contract.Behaviors.IJobQueue, Turbine.Consumer.Data.Contract.Behaviors" />

    <alias alias="JobConsumerContract" type="Turbine.Lite.Consumer.Data.Contract.ConsumerJobContract, Turbine.Lite.Consumer.Data.Contract" />
    <!--
    <alias alias="JobConsumerContract" type="Turbine.Consumer.Data.Contract.AspenJobConsumerContract, Turbine.Consumer.Data.Contract" />
    -->
    <alias alias="JobQueue" type="Turbine.Lite.Consumer.Data.Contract.DBJobQueue, Turbine.Lite.Consumer.Data.Contract" />
    <alias alias="ConsumerRegistrationContract" type="Turbine.Lite.Consumer.Data.Contract.ConsumerRegistrationContract, Turbine.Lite.Consumer.Data.Contract" />

    <alias alias="IConsumerRun" type="Turbine.Consumer.Contract.Behaviors.IConsumerRun, Turbine.Consumer.Contract.Behaviors" />
    <alias alias="ConsumerRun" type="Turbine.Consumer.AspenTech.AspenSinterConsumer, Turbine.Consumer.AspenTech" />

    <alias alias="IContext" type="Turbine.Consumer.Contract.Behaviors.IContext, Turbine.Consumer.Contract.Behaviors" />

    <alias alias="IConsumerMonitor" type="Turbine.Consumer.Contract.Behaviors.IConsumerMonitor, Turbine.Consumer.Contract.Behaviors" />
    <alias alias="ConsumerMonitor" type="Turbine.Consumer.SimSinter.SinterConsumerMonitor, Turbine.Consumer.SimSinter" />
    
    <container name="consumer">
      <register type="IContext" mapTo="ConsoleContext" />
      <!--register type="IJobQueueContext" mapTo="JobQueueConsoleContext" /-->
      <register type="IConsumerContext" mapTo="ConsumerContext" />
      <register type="IConsumerRegistrationContract" mapTo="ConsumerRegistrationContract" />
      <register type="IJobConsumerContract" mapTo="JobConsumerContract" />
      <register type="IJobQueue" mapTo="JobQueue" />
      <register type="IConsumerRun" mapTo="ConsumerRun" />
      <register type="IConsumerMonitor" mapTo="ConsumerMonitor" />
    </container>
 
  </unity>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="CSConsumerLogListener" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="ProcessId, DateTime" />

        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <userSettings>
    <Turbine.Console.Properties.Settings>
      <setting name="BaseDirectory" serializeAs="String">
        <value>REPLACE</value>
      </setting>
    </Turbine.Console.Properties.Settings>
  </userSettings>
</configuration>