<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="TurbineCompactDatabase" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=TurbineCompactDatabase.sdf" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="HTTPContext" type="SelfHostIntegrationTest.TestProducerContext, SelfHostIntegrationTest" />
    <alias alias="IProducerContext" type="Turbine.Producer.Contracts.IProducerContext, Turbine.Producer" />
    <container name="producerX">
      <register type="IProducerContext" mapTo="HTTPContext" />
    </container>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.11.0" newVersion="5.11.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <bindings>
      <webHttpBinding>
        <!-- maxReivedMessageSize: enable message size 1MB for Aspen Backup file 
             If this is exceeded service responds with HTTP 400 Bad Request
        -->
        <binding name="ApplicationBindingConfiguration">
          <security mode="None" />
        </binding>
        <binding name="SimulationBindingConfiguration" maxReceivedMessageSize="20971520">
          <security mode="None" />
        </binding>
        <!--
        <binding name="SessionBindingConfiguration" maxReceivedMessageSize="1048576">
          <security mode="Transport"/>
        </binding>
        <binding name="ConsumerBindingConfiguration">
          <security mode="Transport"/>
        </binding>
        <binding name="JobBindingConfiguration">
          <security mode="Transport"/>
        </binding>
                -->
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Turbine.Lite.Web.Resources.ApplicationResource" behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint binding="webHttpBinding" bindingConfiguration="ApplicationBindingConfiguration" contract="Turbine.Web.Contracts.IApplicationResource" />
      </service>
      <service name="Turbine.Lite.Web.Resources.SimulationResource" behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint binding="webHttpBinding" bindingConfiguration="SimulationBindingConfiguration" contract="Turbine.Web.Contracts.ISimulationResource" />
      </service>
      <!--
      <service name="Turbine.Web.Resources.SessionResource"
                 behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint binding="webHttpBinding"
                  bindingConfiguration="SessionBindingConfiguration"
                  contract="Turbine.Web.Contracts.ISessionResource"
                  />
      </service>

      <service name="Turbine.Web.Resources.JobResource"
                 behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint binding="webHttpBinding"
                  bindingConfiguration="JobBindingConfiguration"
                  contract="Turbine.Web.Contracts.IJobResource"
                  />
      </service>

      <service name="Turbine.Web.Resources.ConsumerResource"
                 behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint binding="webHttpBinding"
                  bindingConfiguration="ConsumerBindingConfiguration"
                  contract="Turbine.Web.Contracts.IConsumerResource"
                  />
      </service>
-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataAndDebugEnabled">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>