<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <!-- MyWeb UI -->
    <UI Id="MyWebUI">

      <UIRef Id="MyWebUI_FeatureTree" />
      <UIRef Id="WixUI_ErrorProgressText" />

      <DialogRef Id="DIG.Settings" />
      <DialogRef Id="DIG.WebSettings" />
      <!-- Injection of custom UI. -->
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="DIG.Settings" Order="3" Condition="LicenseAccepted = &quot;1&quot;" />

      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" />
    
    </UI>
  </Fragment>
  <Fragment>
    <UI Id="MyWebUI_FeatureTree">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="FeatureTree" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" />

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg" />

      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" />
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg" Condition="LicenseAccepted = &quot;1&quot;" />

      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1" Condition="Installed" />
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" Order="2" Condition="NOT Installed" />
      <!--if settings are correct, allow next dialog-->
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="DIG.WebSettings" Order="2" Condition="&amp;Feature.Database = 3" />
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="1" />
      
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1" Condition="NOT Installed OR WixUI_InstallMode = &quot;Change&quot;" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2" Condition="Installed" />

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg" />

      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg" />
    </UI>

    <UIRef Id="WixUI_Common" />
  </Fragment>
    <Fragment>
      <UI>
        <Dialog Id="DIG.Settings" Width="370" Height="270" Title="Application Settings - [ProductName]" NoMinimize="yes">
          
          <!-- Database Hostname -->
          <Control Id="CNTRL.SQL.Hostname" Type="Text" X="45" Y="105" Width="100" Height="15" TabSkip="no" Text="&amp;SQLServer Hostname:" />
          <Control Id="CNTRL.SQL.HostnameEdit" Type="Edit" X="45" Y="117" Width="220" Height="18" Property="PROP.SQLSERVER" Indirect="no" Text="{80}" /> 
          
          <!-- Login -->
          <Control Id="CNTRL.SQL.LoginLabel" Type="Text" X="45" Y="137" Width="100" Height="15" TabSkip="no" Text="&amp;SQL Login:" />
          <Control Id="CNTRL.SQL.LoginEdit" Type="Edit" X="45" Y="149" Width="220" Height="18" Property="PROP.SQL_LOGIN" Indirect="no" Text="{80}" />
          
          <!-- Password -->
          <Control Id="CNTRL.SQL.PasswordLabel" Type="Text" X="45" Y="169" Width="100" Height="15" TabSkip="no" Text="&amp;SQL Password:" />
          <Control Id="CNTRL.SQL.PasswordEdit" Type="Edit" X="45" Y="181" Width="220" Height="18" Property="PROP.SQL_PASSWORD" Indirect="no" Text="{80}" Password="yes" />

          <!-- Back button -->
          <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
            <Publish Event="NewDialog" Value="LicenseAgreementDlg" />
          </Control>
          <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
            <!--if settings are correct, allow next dialog-->
            <Publish Event="NewDialog" Value="CustomizeDlg" Condition="PROP.SQL_USERID &lt;&gt; &quot;&quot; and PROP.SQL_PASSWORD &lt;&gt; &#xA;                          &quot;&quot; and PROP.SQLSERVER &lt;&gt; &quot;&quot;" />
          </Control>
          
          <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
            <Publish Event="SpawnDialog" Value="CancelDlg" />
          </Control>
          <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
          <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
            <Text Value="Please enter Configuration for Turbine Components" />
          </Control>
          <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
          <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
            <Text Value="{\WixUI_Font_Title}Application Settings" />
          </Control>
          <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        </Dialog>
      </UI>
      </Fragment>

  <Fragment>
    <UI>
      <Dialog Id="DIG.WebSettings" Width="370" Height="270" Title="Web Application Settings - [ProductName]" NoMinimize="yes">

        <!-- Turbine User -->
        <Control Id="CNTRL.Turbine.UsernameLabel" Type="Text" X="45" Y="105" Width="100" Height="15" TabSkip="no" Text="&amp;Turbine Username:" />
        <Control Id="CNTRL.Turbine.UsernameEdit" Type="Edit" X="45" Y="117" Width="220" Height="18" Property="PROP.TURBINE_USER" Indirect="no" Text="{80}" />

        <!-- Turbine Password -->
        <Control Id="CNTRL.Turbine.PasswordLabel" Type="Text" X="45" Y="137" Width="100" Height="15" TabSkip="no" Text="&amp;Turbine Password:" />
        <Control Id="CNTRL.Turbine.PasswordEdit" Type="Edit" X="45" Y="149" Width="220" Height="18" Property="PROP.TURBINE_PASSWORD" Indirect="no" Text="{80}" Password="yes" />

        <!-- Back button -->
        <Control Id="Back2" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="LicenseAgreementDlg" />
        </Control>
        <Control Id="Next2" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="NewDialog" Value="VerifyReadyDlg" Condition="PROP.TURBINE_USER &lt;&gt; &quot;&quot; and PROP.TURBINE_PASSWORD &lt;&gt; &quot;&quot;" />
        </Control>

        <Control Id="Cancel2" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg" />
        </Control>
        <Control Id="BannerBitmap2" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description2" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text Value="User Account for Turbine Web API" />
        </Control>
        <Control Id="BottomLine2" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text Value="{\WixUI_Font_Title}Application Web Settings" />
        </Control>
        <Control Id="BannerLine2" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>
    </UI>
  </Fragment>
  
</Wix>