<?xml version="1.0"?>
<!--
Turbine Gateway AWS Web Application Configuration
-->
<configuration>
  <configSections>
    <section name="unity" 
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="turbineLogListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData=""/>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!-- set at 12MB, keep this larger than binding maxReceivedMessageSize-->
    <httpRuntime maxRequestLength="24576"/>
  </system.web>

  <system.webServer>
    <!-- Enable PUT, DELETE -->
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>

    <bindings>
      <webHttpBinding>
        <!-- maxReivedMessageSize: enable message size 1MB for Aspen Backup file 
             If this is exceeded service responds with HTTP 400 Bad Request
        -->
        <binding name="ApplicationBindingConfiguration">
          <security mode="Transport"/>
        </binding>
        <binding name="SimulationBindingConfiguration" maxReceivedMessageSize="20971520">
          <security mode="Transport"/>
        </binding>
        <binding name="SessionBindingConfiguration" maxReceivedMessageSize="1048576">
          <security mode="Transport"/>
        </binding>
        <binding name="ConsumerBindingConfiguration">
          <security mode="Transport"/>
        </binding>
        <binding name="JobBindingConfiguration">
          <security mode="Transport"/>
        </binding>
      </webHttpBinding>
    </bindings>
    
    <services>
      <service name="Turbine.Web.Resources.ApplicationResource"
                 behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint binding="webHttpBinding"
                  bindingConfiguration="ApplicationBindingConfiguration"
                  contract="Turbine.Web.Contracts.IApplicationResource"
                  />
      </service>

      <service name="Turbine.Web.Resources.SimulationResource"
                 behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint binding="webHttpBinding"
                  bindingConfiguration="SimulationBindingConfiguration"
                  contract="Turbine.Web.Contracts.ISimulationResource"
                  />
      </service>

      <service name="Turbine.Web.Resources.SessionResource"
                 behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint binding="webHttpBinding"
                  bindingConfiguration="SessionBindingConfiguration"
                  contract="Turbine.Web.Contracts.ISessionResource"
                  />
      </service>

      <service name="Turbine.Web.Resources.JobResource"
                 behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint binding="webHttpBinding"
                  bindingConfiguration="JobBindingConfiguration"
                  contract="Turbine.Web.Contracts.IJobResource"
                  />
      </service>

      <service name="Turbine.Web.Resources.ConsumerResource"
                 behaviorConfiguration="metadataAndDebugEnabled">
        <endpoint binding="webHttpBinding"
                  bindingConfiguration="ConsumerBindingConfiguration"
                  contract="Turbine.Web.Contracts.IConsumerResource"
                  />
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataAndDebugEnabled">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <connectionStrings>
    <add name="TurbineModelContainer"
         connectionString=""
         providerName="System.Data.EntityClient" />
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="AWSContext"
           type="Turbine.Producer.AWS.AWSContext, Turbine.Producer.AWS" />
    <alias alias="IAWSContext"
           type="Turbine.Producer.AWS.Contracts.IAWSContext, Turbine.Producer.AWS" />
    <alias alias="MongoContext"
           type="Turbine.Producer.AWS.MongoContext, Turbine.Producer.AWS"/>
    <alias alias="IMongoContext"
           type="Turbine.Producer.AWS.Contracts.IMongoContext, Turbine.Producer.AWS"/>

    <alias alias="HTTPContext" type="Turbine.Web.Behaviors.MyHTTPContext, Turbine.Web" />
    <alias alias="IProducerContext" type="Turbine.Producer.Contracts.IProducerContext, Turbine.Producer" />
    <alias alias ="IConsumerResourceAccessor"
           type="Turbine.Producer.Contracts.IConsumerResourceAccessor, Turbine.Producer"/>
    <alias alias="AWSConsumerResourceAccessor"
           type="Turbine.Producer.AWS.ConsumerResourceAccessor, Turbine.Producer.AWS"/>

    <container name="producerX">

      <register type="IProducerContext" mapTo="HTTPContext" />
      <register type="IConsumerResourceAccessor" mapTo="AWSConsumerResourceAccessor" />

      <!-- Accessed by the AWSConsumerResourceAccessor -->
      <register type="IAWSContext" mapTo="AWSContext" >
        <property name="AvailabilityZone" value="REPLACE"/>
        <property name="Region" value="REPLACE"/>
        <property name="Bucket" value="REPLACE"/>
        <property name="SubmitQueue"
                  value="REPLACE"/>
        <property name="NotificationQueue"
                  value="REPLACE"/>
        <property name="AWSAccessKey"
                  value="REPLACE"/>
        <property name="AWSSecretKey"
                  value="REPLACE"/>
      </register>

      <!-- Accessed by the AWSConsumerResourceAccessor -->
      <register type="IMongoContext" mapTo="MongoContext">
        <property name="ConnectionString" value="REPLACE"/>
        <property name="DatabaseName" value="REPLACE"/>
      </register>


    </container>
  </unity>

</configuration>