<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IntegrationTests.Properties.Settings>
            <setting name="simulationAddress" serializeAs="String">
                <value>https://dudley.lbl.gov/TurbineMS8/simulation/</value>
            </setting>
            <setting name="jobAddress" serializeAs="String">
                <value>https://dudley.lbl.gov/TurbineMS8/job/</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>test1</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>B@ckH03</value>
            </setting>
            <setting name="username2" serializeAs="String">
                <value>test2</value>
            </setting>
            <setting name="password2" serializeAs="String">
                <value>B@ckH03</value>
            </setting>
        </IntegrationTests.Properties.Settings>
    </userSettings>
</configuration>